<footer>
    <div class="container">
        <div class="row">
            <div class="footer-map_wrap">
                <div class="map-block">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d388812.9663465154!2d-88.1238752900648!3d41.83879836548013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e4a79d1cf235f%3A0x473cb2de6bc284be!2s2900%20S%2021st%20Ave%2C%20Broadview%2C%20IL%2060155%2C%20USA!5e0!3m2!1sen!2sua!4v1640164592364!5m2!1sen!2sua"
                        width="450" height="245" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                </div>
            </div>
            <div class="footer-menu_wrap">
                <div class="footer-menu">
                    <ul class="footer-menu_list">
                        <li class="menu-title">
                            <span>Info</span>
                        </li>
                        <li class="footer-menu_item">
                            <a href="view/info/about-us.html">
                                About Us
                            </a>
                        </li>
                    </ul>
                    <ul class="footer-menu_list">
                        <li class="menu-title">
                            <span>Resources</span>
                        </li>
                        <li class="footer-menu_item">
                            <a href="view/blog/blog-category.html">
                                Blog
                            </a>
                        </li>
                    </ul>
                    <ul class="footer-menu_list">
                        <li class="menu-title">
                            <span>Legal Pages</span>
                        </li>
                        <li class="footer-menu_item">
                            <a href="view/info/contact.html">
                                Contact Us
                            </a>
                        </li>
                        <li class="footer-menu_item">
                            <a href="#">
                                Privacy Policies
                            </a>
                        </li>
                        <li class="footer-menu_item">
                            <a href="#">
                                Cookie Policies
                            </a>
                        </li>
                    </ul>
                    <div class="footer-contact_wrap">
                        <div class="menu-title">Contacts</div>
                        <address>
                            2900 S 21st Avenue Broadview, IL 60155
                        </address>
                        <a class="footer-contact_phone" href="tel:+19549000000">
                            +1 954-900-0000
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-block">
        <div class="container">
            <div class="row">
                <div class="copyright-text">
                    <i class="far fa-copyright"></i>
                    <span class="year">2021</span>
                    All rights reserved
                </div>
            </div>
        </div>
    </div>


    @@include('../../img/icons.html')

</footer>
<script src="js/main.min.js"></script>
</body>

</html>