<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Equipment doctors</title>
    <meta name="description" content="Equipment doctors">
    <link rel="canonical" href="#">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Equipment doctors">
    <meta property="og:description" content="Equipment doctors">
    <meta property="og:url" content="#">
    <meta property="og:site_name" content="Equipment doctors">
    <meta property="article:modified_time" content="2021-06-13T17:49:36+00:00">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:label1" content="">
    <meta name="twitter:data1" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link href="css/main.min.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/86e4fa7ed4.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>
    <title>Equipment doctors</title>
</head>
<header>
    <div class="container">
        <div class="row">
            <div class="logo_wrap">
                <a href="index.html">
                    <img src="img/common/logo.png" alt="Equipment doctors" width="135" height="43">
                </a>
            </div>

            <div class="header-category_wrap">
                <a href="view/product/category.html" class="header-category_button" id='category-menu_button'>
                    All Categories
                </a>
            </div>

            <div class="header-search">
                <form class="header-search_form">
                    <button class="header-search_button"><i class="fas fa-search"></i></button>
                    <input class="header-search_input" placeholder="Search" value="">
                    <div class="clear_search-input"><i class="far fa-times-circle"></i></div>
                </form>
                <div class="header-search-dropdown">
                    <div class="header-search-list">
                        <ul>

                        </ul>
                        <a href="view/product/search.html">See all</a>
                    </div>
                    <div class="header-search-no-result">
                        <div class="no-result-image">
                            <svg width="76" height="76" viewBox="0 0 76 76" xmlns="http://www.w3.org/2000/svg">
                                <use xlink:href="#search"></use>
                            </svg>
                        </div>
                        <div class="no-result-text">
                            We couldn't find a Part with that name on our shop.
                            Check the name for typos or leave us a message using the <a
                                href="#">contacts</a> below.
                        </div>
                    </div>
                </div>
            </div>

            <div class="header-contact">
                <a class="header-contact_link" href="tel:+19549000000">+1 954-900-0000</a>
            </div>

            <div class="header-account_wrap">
                <div class="header-account_wishlist">
                    <ul class="dropdown">
                        <li class="dropdown-item">
                            <button id="wishlist-button" class="account_wishlist-button">
                                <svg width="34" height="34" viewBox="0 0 34 34" xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="#wish-list"></use>
                                </svg>
                                <span>
                                    Reorder
                                    <b>Wishlist</b>
                                </span>
                            </button>
                        </li>

                        <li class="list-dropdown">
                            <ul>
                                <li>
                                    <a href="#">
                                        <svg width="15" height="15" viewBox="0 0 15 15"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="#reorder"></use>
                                        </svg>
                                        Reorder
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg width="15" height="15" viewBox="0 0 15 15"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="#heart-wishlist-ico"></use>
                                        </svg>
                                        Wishlist
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>

                <div class="header-account_singin">
                    <ul class="singin-dropdown dropdown">
                        <li class="dropdown-item">
                            <a href="view/account/login.html">
                                <svg width="34" height="34" viewBox="0 0 34 34"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <use xlink:href="#account"></use>
                                </svg>
                                <span>
                                    Sign in/up
                                    <b>Account</b>
                                </span>
                            </a>
                        </li>

                        <li class="list-dropdown">
                            <ul>
                                <li>
                                    <a href="/view/account/empty.html?url=order">
                                        <svg width="15" height="15" viewBox="0 0 15 15"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="#profile"></use>
                                        </svg>
                                        Profile
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <svg width="15" height="15" viewBox="0 0 24 24" fill="#42474C" xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="#history"></use>
                                        </svg>
                                        Order History
                                    </a>
                                    </li>
                                <li>
                                    <a href="#">
                                        <svg width="16" height="16" viewBox="0 0 16 16"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <use xlink:href="#logout"></use>
                                        </svg>
                                        Log out
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="header-cart">
                <a class="header-cart_link" href="#">
                    <span class="cart-count"></span>
                    <svg width="28" height="28" viewBox="0 0 28 28" fill="#42474C" xmlns="http://www.w3.org/2000/svg">
                        <use xlink:href="#cart-ico"></use>
                    </svg>
                </a>

                @@include('../checkout/checkout-modal.html')
            </div>
        </div>
        <div class="row">
            @@include('../modules/category-menu.html')
        </div>
    </div>
</header>

<body>