<div class="menu-row">
<div class="left-col">
    <nav class="col-menu">
      <ul>
        <li class="show">
          <div>
            Service and maintenance
          </div>
        </li>
        <li>
          <div>
            Engine. engine mouting
            and equipment
          </div>
        </li>
        <li>
          <div>
            Electric systems and
            instruments
          </div>
        </li>
        <li>
          <div>
            Brakes
          </div>
        </li>
        <li>
          <div>
            Frame, springs, shocks
            and wheels
          </div>
        </li>
        <li>
          <div>
            Axles,Suspensions
            and steeting
          </div>
        </li>
        <li>
          <div>
            Body, can and interior
          </div>
        </li>
        <li>
          <div>
            Miscellaneous
          </div>
        </li>
        <li>
          <div>
            Tires
          </div>
        </li>
        <li>
          <div>
            After Treatment
          </div>
        </li>
        <li>
          <div>
            APU
          </div>
        </li>
        <li>
          <div>
            Trallers
          </div>
        </li>
        <li>
          <div>
            Shop supply
          </div>
        </li>
      </ul>
    </nav>
  </div>

  <div class="content">
    <div class="tab-content tab-show">
      <div class="col3 menu__grid-item">
        <a href="../../view/product/single-category.html">
          Parts for fastening, spacing,
          locking and support
        </a>
        <ul class="category-navbar_menu__child category-page_menu__child">
          <li><a href="#">Pin,unthreaded bolt, rivet, nail <span>49</span></a></li>
          <li><a href="#">Screw <span>62</span></a></li>
          <li><a href="#">Nut <span>1549</span></a></li>
          <li><a href="#">Spacing and locking parts <span>320</span></a></li>
          <li><a href="#">Supporting and clamping parts <span>70</span></a></li>
          <li><a href="#">Other fasteners <span>27</span></a></li>
          <li><a href="#">Pin,unthreaded bolt, rivet, nail <span>49</span></a></li>
          <li><a href="#">Screw <span>62</span></a></li>
          <li><a href="#">Nut <span>1549</span></a></li>
          <li><a href="#">Spacing and locking parts <span>320</span></a></li>
          <li><a href="#">Supporting and clamping parts <span>70</span></a></li>
          <li><a href="#">Other fasteners <span>27</span></a></li>
        </ul>
        <button class="show-more category-show-more">Show more</button>
      </div>

      <div class="col3 menu__grid-item">
        <a href="#">
          Parts for transm, transfer,
          steering, springing,damping
        </a>
        <ul class="category-navbar_menu__child category-page_menu__child">
          <li><a href="#">Bar, lever, joint,handle <span>49</span></a></li>
          <li><a href="#">Belt, cable, lifting eye <span>62</span></a></li>
          <li><a href="#">Nut <span>1549</span></a></li>
          <li><a href="#">Parts for springing, damping, movement
              limitation <span>320</span></a></li>
        </ul>
        <button class="show-more category-show-more">Show more</button>
      </div>

      <div class="col3 menu__grid-item">
        <a href="#">
          Parts for rotary
          movements
        </a>
        <ul class="category-navbar_menu__child category-page_menu__child">
          <li><a href="#">Bearing <span>49</span></a></li>
          <li><a href="#">Key, shaft <span>62</span></a></li>
          <li><a href="#">Parts for lubrication <span>1549</span></a></li>
        </ul>
        <button class="show-more category-show-more">Show more</button>
      </div>

      <div class="col3 menu__grid-item">
        <a href="#">
          Parts for transportation and
          storage of liquids and gases
        </a>
        <ul class="category-navbar_menu__child category-page_menu__child">
          <li><a href="#">Tube, tube part, hose <span>49</span></a></li>
        </ul>
        <button class="show-more category-show-more">Show more</button>
      </div>

      <div class="col3 menu__grid-item">
        <a href="#">
          Parts for sealing, protection
          and marking
        </a>
        <ul class="category-navbar_menu__child category-page_menu__child">
          <li><a href="#">General <span>49</span></a></li>
          <li><a href="#">Parts for sealing and protection <span>62</span></a></li>
          <li><a href="#">Plate, marketing washer, indicator, scales <span>1549</span></a></li>
        </ul>
        <button class="show-more category-show-more">Show more</button>
      </div>

      <div class="col3 menu__grid-item">
        <a href="#">
          Electrical standard
          parts
        </a>
        <ul class="category-navbar_menu__child category-page_menu__child">
          <li><a href="#">GenCable, connector, cable terminaleral<span>49</span></a></li>
          <li><a href="#">Parts for electric insulation <span>62</span></a></li>
          <li><a href="#">Swich, relay, fuse <span>1549</span></a></li>
          <li><a href="#">Illumination material <span>320</span></a></li>
        </ul>
        <button class="show-more category-show-more">Show more</button>
      </div>

      <div class="col3 menu__grid-item">
        <a href="#">
          Service and maintenance
        </a>
        <ul class="category-navbar_menu__child category-page_menu__child">
          <li><a href="#">General <span>49</span></a></li>
          <li><a href="#">Delivery service <span>62</span></a></li>
          <li><a href="#">Warranty service <span>1549</span></a></li>
          <li><a href="#">Maintenance service Cars, basic service <span>320</span></a></li>
          <li><a href="#">Maintenance service Cars, supplement
              and adjusting <span>70</span></a></li>
          <li><a href="#">Lube service with oil changes <span>27</span></a></li>
        </ul>
        <button class="show-more category-show-more">Show more</button>
      </div>

      <div class="col3 menu__grid-item">
        <a href="#">
          Vehicle body care, finish
          and protection
        </a>
        <ul class="category-navbar_menu__child category-page_menu__child">
          <li><a href="#">General <span>49</span></a></li>
          <li><a href="#">Body washing, and internal cleaning <span>62</span></a></li>
          <li><a href="#">Rustproofing <span>1549</span></a></li>
          <li><a href="#">Lubricants <span>320</span></a></li>
          <li><a href="#">Anti-freeze, concentrated coolant <span>70</span></a></li>
          <li><a href="#">Brake and hydraulic fluids <span>27</span></a></li>
        </ul>
        <button class="show-more category-show-more">Show more</button>
      </div>

      <div class="col3 menu__grid-item">
        <a href="#">
          Miscellaneous
        </a>
        <ul class="category-navbar_menu__child category-page_menu__child">
          <li><a href="#">General <span>49</span></a></li>
          <li><a href="#">Safety equipment <span>62</span></a></li>
          <li><a href="#">Service for broken-down truck <span>1549</span></a></li>
        </ul>
        <button class="show-more category-show-more">Show more</button>
      </div>
    </div>
  </div>
</div>