<div class="slider-wrap">
    <div class="main-slider slider" id="slide-num">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slider-before" style="background: url('img/common/slider-bg.png') center / cover no-repeat">
                </div>
                <div class="slider-content">
                    <h2 class="slider-title">
                        BIG TIR SALES TEXT
                    </h2>
                    <div class="slider-sub-title">
                        SAVE 15%
                    </div>
                    <div class="slider-description">
                        <p>Shoping in Equipment doctor is fun. Save your many an by exited!</p>
                    </div>
                    <a class="base-buton" href="#">SHOW ALL DEALS</a>
                </div>
                <div class="slider-image">
                    <img src="img/common/slider-img.png" alt="BIG TIR SALES TEXT">
                </div>
            </div>

            <div class="swiper-slide white-slide">
                <div class="slider-before"
                    style="background: url('img/common/slider-bg-white.png') center / cover no-repeat"></div>
                <div class="slider-content ">
                    <h2 class="slider-title">
                        BIG TIR LIGHT SALES
                    </h2>
                    <div class="slider-sub-title">
                        SAVE 15%
                    </div>
                    <div class="slider-description">
                        <p>Shoping in Equipment doctor is fun. Save your many an by exited!</p>
                    </div>
                    <a class="base-buton" href="#">SHOW ALL DEALS</a>
                </div>
                <div class="slider-image">
                    <img src="img/common/slider-img-1.png" alt="BIG TIR LIGHT SALES ">
                </div>
            </div>

            <div class="swiper-slide center-slide">
                <div class="slider-before"
                    style="background: url('img/common/slider-bg-white-full.png') center / cover no-repeat"></div>
                <div class="slider-content">
                    <div class="slider-sub-title">
                        SAVE 15%
                    </div>
                    <h2 class="slider-title">
                        BIG TIR LIGHT SALES
                    </h2>
                    <div class="slider-description">
                    </div>
                    <a class="base-buton" href="#">SHOW ALL DEALS</a>
                </div>
            </div>

            <div class="swiper-slide gold-slide">
                <div class="slider-content ">
                    <h2 class="slider-title">
                        BIG TIR SALES TEXT
                    </h2>
                    <div class="slider-sub-title">
                        SAVE 15%
                    </div>
                    <div class="slider-description">
                        <p>Shoping in Equipment doctor
                            is fun. Save your many an by exited!</p>
                    </div>
                    <a class="base-buton" href="#">SHOW ALL DEALS</a>
                </div>
                <div class="slider-image">
                    <img src="img/common/slider-img-2.png" alt="BIG TIR SALES TEXT">
                </div>
            </div>
        </div>
        <div class="slider-pagination swiper-pagination">
        </div>
        <div id='slider1__changer' class='slider__dots__changer'></div>
        <div class="slider-button">
            <button class="swiper-button-prev"><i class="fas fa-chevron-left"></i></button>
            <button class="swiper-button-next"><i class="fas fa-chevron-right"></i></button>
        </div>
    </div>
</div>

<script>
    const swiper = new Swiper(document.getElementById('slide-num'), {
        slidesPerView: 1,
        spaceBetween: 10,
        loop: true,
        effect: 'fade',
        grabCursor: true,
        pagination: {
            el: ".swiper-pagination",
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        autoplay: {
            delay: 5000,
            pauseOnMouseEnter: true,
        },
    });
</script>