<div class="news-subscribe-form-block">
    <div class="container">
        <div class="row">
            <h4>Sign up for our Newsletter!</h4>

            <form class="subscribe-news-form">
                <div class="form-group">
                    <label for="mail">
                        Your Email
                    </label>
                    <input type="email" name="mail">
                </div>
                <div class="button-group">
                    <input type="submit" class="base-button" value="Subscribe" disabled>
                </div>
            </form>
        </div>
    </div>
</div>