@@include('../common/header-page.html')

<!-- End header section-->
<div class="container">
    <div class="row row-wrap">
        <div class="left-col">

            @@include('account-menu.html')

        </div>
        <div class="content">
            <div class="account-container">
                <div class="account-container-header">
                    <h1>My Account</h1>

                    <button class="base-button" data-listener="new-wishlist">Back to shop</button>
                </div>

                <div class="row">
                    <div class="account-col">
                        <h2>My Account</h2>
                        <ul class="list-unstyled">
                            <li><a href="https://betaoc.equipmentdoctors.com/index.php?route=account/edit">Edit your account information</a></li>
                            <li><a href="https://betaoc.equipmentdoctors.com/index.php?route=account/password">Change your password</a></li>
                            <li><a href="https://betaoc.equipmentdoctors.com/index.php?route=account/address">Addresses</a></li>
                            <li><a href="https://betaoc.equipmentdoctors.com/index.php?route=account/wishlist">Modify your wish list</a></li>
                        </ul>
                    </div>
    
                    <div class="account-col">
                        <h2>Orders</h2>
                        <ul class="list-unstyled">
                            <li><a href="https://betaoc.equipmentdoctors.com/index.php?route=account/order">View your order history</a></li>
                            <li><a href="https://betaoc.equipmentdoctors.com/index.php?route=account/download">Downloads</a></li>
                            <li><a href="https://betaoc.equipmentdoctors.com/index.php?route=account/reward">Your Reward Points</a></li>
                            <li><a href="https://betaoc.equipmentdoctors.com/index.php?route=account/return">Returns</a></li>
                            <li><a href="https://betaoc.equipmentdoctors.com/index.php?route=account/transaction">Your Transactions</a></li>
                            <li><a href="https://betaoc.equipmentdoctors.com/index.php?route=account/recurring">Recurring payments</a></li>
                        </ul>
                    </div>
    
                    <div class="account-col">
                        <h2>My Affiliate Account</h2>
                        <ul class="list-unstyled">
                            <li><a href="https://betaoc.equipmentdoctors.com/index.php?route=account/affiliate/add">Register for an affiliate account</a></li>
                        </ul>
                    </div>
    
                    <div class="account-col">
                        <h2>Newsletter</h2>
                        <ul class="list-unstyled">
                            <li><a href="https://betaoc.equipmentdoctors.com/index.php?route=account/newsletter">Subscribe / unsubscribe to newsletter</a></li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Start footer -->
@@include('../common/footer-page.html')