@@include('../common/header-page.html')

<!-- End header section-->
<div class="container">
  <div class="row row-wrap">
    <div class="left-col">

        @@include('account-menu.html')

    </div>

    <div class="content">
        <div class="account-container">
            <div class="account-container-header">
                <h1></h1>
                <a class="base-button" href="#">Go to the Shop</a>
              </div>  
        
              <div class="accounts-empty-block">
                  <div class="accounts-empty-ico">
               
                  </div>
                  <div class="account-empty-text">

                  </div>
              </div>
        </div>
    </div>
  </div>
</div>





<!-- Start footer -->
@@include('../common/footer-page.html')