@@include('../common/header-page.html')
<!-- End header section-->

<div class="container">
    <div class="row row-wrap account-form-wrap">

        <div class="pop-up-content account-form">
            <div class="pop-up-header">
                <div class="pop-up-title">
                    Create New Password
                </div>
            </div>

            <div class="form-text form-text form-text-margin-top">
                Password must have at least one upper case letter, one number and one special symbol
            </div>
    
            <div class="pop-up-form">
                <form>
                        <div class="form-group">
                            <label for="password">
                                Enter New Password
                            </label>
                            <input type="password" name="password">
                            <div class="error-text">*Validation text</div>
                        </div>
                        <div class="form-group">
                            <label for="reenter-password">
                                Re-enter new password
                            </label>
                            <input type="password" name="reenter-password">
                            <div class="error-text">*Validation text</div>
                        </div>
                        <div class="button-group pop-up-button-group">
                            <input type="submit" class="base-button" value="Continue">
                        </div>
                </form>
            </div>

        </div>

    </div>
</div>

<!-- Start footer -->
@@include('../common/footer-page.html')