@@include('../common/header-page.html')
<!-- End header section-->

<div class="container">
    <div class="row row-wrap account-form-wrap">

        <div class="pop-up-content account-form">
            <div class="pop-up-header">
                <div class="pop-up-title">
                    Password Recowery
                </div>
            </div>

            <div class="form-text form-text form-text-margin-top">
                Enter the email address associated with your account and we’ll send you a link to reset password
            </div>
    
            <div class="pop-up-form">
                <form>
                    <div class="row">
                        <div class="form-group">
                            <label for="mail">
                                Your Email
                            </label>
                            <input type="email" name="mail">
                        </div>
                        <div class="button-group pop-up-button-group">
                            <input type="submit" class="base-button" value="Continue">
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>

<!-- Start footer -->
@@include('../common/footer-page.html')