@@include('../common/header-page.html')

<!-- End header section-->
<div class="container">
    <div class="row row-wrap">
        <div class="left-col">

            @@include('account-menu.html')

        </div>
    
        <div class="content">
            <div class="account-container">
                <div class="account-container-header">
                    <div class="orders-filter-tabs">
                        <ul>
                            <li class="active">
                                <a href="#all-orders">
                                    <div class="status-circle-block">
                                        <div class="in-progres-circle"></div>
                                        <div class="done-circle"></div>
                                        <div class="rejected-circle"></div>
                                    </div>
                                    
                                    All orders
                                </a>
                            </li>
                            <li>
                                <a href="#in-progress">
                                    <div class="status-circle-block">
                                        <div class="in-progres-circle"></div>
                                    </div>
                                    In progress
                                </a>
                            </li>
                            <li>
                                <a href="#done">
                                    <div class="status-circle-block">
                                        <div class="done-circle"></div>
                                    </div>
                                    Done
                                </a>
                            </li>
                            <li>
                                <a href="#rejected">
                                    <div class="status-circle-block">
                                        <div class="rejected-circle"></div>
                                    </div>
                                    Rejected
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="account-orders-table">
                    <ul class="accordion__list">

                        <li class="accordion-has-children active" data-status="in-progress">
                            <div class="accordion__label order-info-header">
                                <div class="status-circle-block">
                                    <div class="in-progres-circle"></div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title order-info-status">In progress</div>
                                    <div class="order-info-id">456475112323234</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order date</div>
                                    <div class="order-info-date">02/06/2021</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order amount</div>
                                    <div class="order-info-price price">$5,725.00</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-image-block">
                                        <img src="../../img/common/order-info-img.png" alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                        <img src="../../img/common/order-info-img.png" alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                        <img src="../../img/common/order-info-img.png" alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                        <span class="order-more-image-text">+5</span>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__list order-info-expansion">
                                <div class="order-info-expansion-col order-info-left-col">
                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Shiping Information</h3>
                                        </div>
                                        <div class="order-shiping-info">
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Name:</div>
                                                <div class="order-shiping-info-col">Some Name</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Email:</div>
                                                <div class="order-shiping-info-col">test@test.com</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Phone:</div>
                                                <div class="order-shiping-info-col">+188888888</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">State/Province:</div>
                                                <div class="order-shiping-info-col">Alabama </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">City:</div>
                                                <div class="order-shiping-info-col">Montgomery </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Address:</div>
                                                <div class="order-shiping-info-col">1080 Eastern Blvd, Montgomery, AL 36117 </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Apartment/Suite/Building:</div>
                                                <div class="order-shiping-info-col">-</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Payment method:</div>
                                                <div class="order-shiping-info-col">Visa  ****9879</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Order Status</h3>

                                            <div class="header-order-status">Preparing to ship</div>
                                        </div>

                                        <ul class="order-status-list">
                                            <li class="order-status" data-status="done">
                                                <span class="order-status-name">Request processing</span>
                                                <span class="order-status-process">Done</span>
                                            </li>
                                            <li class="order-status" data-status="done">
                                                <span class="order-status-name">Accepted in the work</span>
                                                <span class="order-status-process">Done</span>
                                            </li>
                                            <li class="order-status" data-status="current">
                                                <span class="order-status-name">Preparing to ship</span>
                                                <span class="order-status-process">In Progress</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Delivery to the carrier</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Delivery in the branch of the issuing point</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Parcel received</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="order-info-expansion-col order-info-right-col">
                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Part Description</h3>
                                        </div>

                                        <ul class="order-product-item">
                                            <li>
                                                <div class="order-product-item-caption">
                                                    <h3>GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="price">$1,725.00</div>
                                                        <div class="quantity-block">
                                                            <span class="quantity-text">Quantity:</span>
                                                            <span class="quantity-value">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="order-product-image">
                                                    <img src="../../img/common/order-info-img.png" alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                </div>
                                            </li>

                                            <li>
                                                <div class="order-product-item-caption">
                                                    <h3>GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="price">$1,725.00</div>
                                                        <div class="quantity-block">
                                                            <span class="quantity-text">Quantity:</span>
                                                            <span class="quantity-value">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="order-product-image">
                                                    <img src="../../img/common/order-info-img.png" alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                </div>
                                            </li>

                                            <li>
                                                <div class="order-product-item-caption">
                                                    <h3>GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="price">$1,725.00</div>
                                                        <div class="quantity-block">
                                                            <span class="quantity-text">Quantity:</span>
                                                            <span class="quantity-value">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="order-product-image">
                                                    <img src="../../img/common/order-info-img.png" alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                </div>
                                            </li>

                                            <li>
                                                <div class="order-product-item-caption">
                                                    <h3>GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="price">$1,725.00</div>
                                                        <div class="quantity-block">
                                                            <span class="quantity-text">Quantity:</span>
                                                            <span class="quantity-value">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="order-product-image">
                                                    <img src="../../img/common/order-info-img.png" alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                </div>
                                            </li>

                                            <li>
                                                <div class="order-product-item-caption">
                                                    <h3>GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="price">$1,725.00</div>
                                                        <div class="quantity-block">
                                                            <span class="quantity-text">Quantity:</span>
                                                            <span class="quantity-value">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="order-product-image">
                                                    <img src="../../img/common/order-info-img.png" alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                </div>
                                            </li>
                                        </ul>

                                        <div class="row order-button-row">
                                            <a class="feedback-button">Leave Feedback</a>
                                            <button class="base-btn" id="repeat-order">Repeat the order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="accordion-has-children active" data-status="done">
                            <div class="accordion__label order-info-header">
                                <div class="status-circle-block">
                                    <div class="done-circle"></div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title order-info-status">Done</div>
                                    <div class="order-info-id">456475112323234</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order date</div>
                                    <div class="order-info-date">02/06/2021</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order amount</div>
                                    <div class="order-info-price price">$5,725.00</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-image-block">
                                        <img src="../../img/common/order-info-img.png" alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__list order-info-expansion">
                                <div class="order-info-expansion-col order-info-left-col">
                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Shiping Information</h3>
                                        </div>
                                        <div class="order-shiping-info">
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Name:</div>
                                                <div class="order-shiping-info-col">Some Name</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Email:</div>
                                                <div class="order-shiping-info-col">test@test.com</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Phone:</div>
                                                <div class="order-shiping-info-col">+188888888</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">State/Province:</div>
                                                <div class="order-shiping-info-col">Alabama </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">City:</div>
                                                <div class="order-shiping-info-col">Montgomery </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Address:</div>
                                                <div class="order-shiping-info-col">1080 Eastern Blvd, Montgomery, AL 36117 </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Apartment/Suite/Building:</div>
                                                <div class="order-shiping-info-col">-</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Payment method:</div>
                                                <div class="order-shiping-info-col">Visa  ****9879</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Order Status</h3>

                                            <div class="header-order-status">Preparing to ship</div>
                                        </div>

                                        <ul class="order-status-list">
                                            <li class="order-status" data-status="done">
                                                <span class="order-status-name">Request processing</span>
                                                <span class="order-status-process">Done</span>
                                            </li>
                                            <li class="order-status" data-status="done">
                                                <span class="order-status-name">Accepted in the work</span>
                                                <span class="order-status-process">Done</span>
                                            </li>
                                            <li class="order-status" data-status="current">
                                                <span class="order-status-name">Preparing to ship</span>
                                                <span class="order-status-process">In Progress</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Delivery to the carrier</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Delivery in the branch of the issuing point</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Parcel received</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="order-info-expansion-col order-info-right-col">
                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Part Description</h3>
                                        </div>

                                        <ul class="order-product-item">
                                            <li>
                                                <div class="order-product-item-caption">
                                                    <h3>GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="price">$1,725.00</div>
                                                        <div class="quantity-block">
                                                            <span class="quantity-text">Quantity:</span>
                                                            <span class="quantity-value">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="order-product-image">
                                                    <img src="../../img/common/order-info-img.png" alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                </div>
                                            </li>
                                        </ul>

                                        <div class="row order-button-row">
                                            <a class="feedback-button">Leave Feedback</a>
                                            <button class="base-btn" id="repeat-order">Repeat the order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="accordion-has-children active" data-status="done">
                            <div class="accordion__label order-info-header">
                                <div class="status-circle-block">
                                    <div class="done-circle"></div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title order-info-status">Done</div>
                                    <div class="order-info-id">456475112323234</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order date</div>
                                    <div class="order-info-date">02/06/2021</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order amount</div>
                                    <div class="order-info-price price">$1,725.00</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-image-block">
                                        <img src="../../img/common/order-info-img.png" alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__list order-info-expansion">
                                <div class="order-info-expansion-col order-info-left-col">
                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Shiping Information</h3>
                                        </div>
                                        <div class="order-shiping-info">
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Name:</div>
                                                <div class="order-shiping-info-col">Some Name</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Email:</div>
                                                <div class="order-shiping-info-col">test@test.com</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Phone:</div>
                                                <div class="order-shiping-info-col">+188888888</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">State/Province:</div>
                                                <div class="order-shiping-info-col">Alabama </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">City:</div>
                                                <div class="order-shiping-info-col">Montgomery </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Address:</div>
                                                <div class="order-shiping-info-col">1080 Eastern Blvd, Montgomery, AL 36117 </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Apartment/Suite/Building:</div>
                                                <div class="order-shiping-info-col">-</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Payment method:</div>
                                                <div class="order-shiping-info-col">Visa  ****9879</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Order Status</h3>

                                            <div class="header-order-status">Preparing to ship</div>
                                        </div>

                                        <ul class="order-status-list">
                                            <li class="order-status" data-status="done">
                                                <span class="order-status-name">Request processing</span>
                                                <span class="order-status-process">Done</span>
                                            </li>
                                            <li class="order-status" data-status="done">
                                                <span class="order-status-name">Accepted in the work</span>
                                                <span class="order-status-process">Done</span>
                                            </li>
                                            <li class="order-status" data-status="current">
                                                <span class="order-status-name">Preparing to ship</span>
                                                <span class="order-status-process">In Progress</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Delivery to the carrier</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Delivery in the branch of the issuing point</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Parcel received</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="order-info-expansion-col order-info-right-col">
                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Part Description</h3>
                                        </div>

                                        <ul class="order-product-item">
                                            <li>
                                                <div class="order-product-item-caption">
                                                    <h3>GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="price">$1,725.00</div>
                                                        <div class="quantity-block">
                                                            <span class="quantity-text">Quantity:</span>
                                                            <span class="quantity-value">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="order-product-image">
                                                    <img src="../../img/common/order-info-img.png" alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                </div>
                                            </li>
                                        </ul>

                                        <div class="row order-button-row">
                                            <a class="feedback-button">Leave Feedback</a>
                                            <button class="base-btn" id="repeat-order">Repeat the order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="accordion-has-children active" data-status="rejected">
                            <div class="accordion__label order-info-header">
                                <div class="status-circle-block">
                                    <div class="rejected-circle"></div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title order-info-status">Rejected</div>
                                    <div class="order-info-id">456475112323234</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order date</div>
                                    <div class="order-info-date">02/06/2021</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order amount</div>
                                    <div class="order-info-price price">$1,725.00</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-image-block">
                                        <img src="../../img/common/order-info-img.png" alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__list order-info-expansion">
                                <div class="order-info-expansion-col order-info-left-col">
                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Shiping Information</h3>
                                        </div>
                                        <div class="order-shiping-info">
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Name:</div>
                                                <div class="order-shiping-info-col">Some Name</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Email:</div>
                                                <div class="order-shiping-info-col">test@test.com</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Phone:</div>
                                                <div class="order-shiping-info-col">+188888888</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">State/Province:</div>
                                                <div class="order-shiping-info-col">Alabama </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">City:</div>
                                                <div class="order-shiping-info-col">Montgomery </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Address:</div>
                                                <div class="order-shiping-info-col">1080 Eastern Blvd, Montgomery, AL 36117 </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Apartment/Suite/Building:</div>
                                                <div class="order-shiping-info-col">-</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Payment method:</div>
                                                <div class="order-shiping-info-col">Visa  ****9879</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Order Status</h3>

                                            <div class="header-order-status">Preparing to ship</div>
                                        </div>

                                        <ul class="order-status-list">
                                            <li class="order-status" data-status="done">
                                                <span class="order-status-name">Request processing</span>
                                                <span class="order-status-process">Done</span>
                                            </li>
                                            <li class="order-status" data-status="done">
                                                <span class="order-status-name">Accepted in the work</span>
                                                <span class="order-status-process">Done</span>
                                            </li>
                                            <li class="order-status" data-status="current">
                                                <span class="order-status-name">Preparing to ship</span>
                                                <span class="order-status-process">In Progress</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Delivery to the carrier</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Delivery in the branch of the issuing point</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Parcel received</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="order-info-expansion-col order-info-right-col">
                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Part Description</h3>
                                        </div>

                                        <ul class="order-product-item">
                                            <li>
                                                <div class="order-product-item-caption">
                                                    <h3>GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="price">$1,725.00</div>
                                                        <div class="quantity-block">
                                                            <span class="quantity-text">Quantity:</span>
                                                            <span class="quantity-value">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="order-product-image">
                                                    <img src="../../img/common/order-info-img.png" alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                </div>
                                            </li>
                                        </ul>

                                        <div class="row order-button-row">
                                            <a class="feedback-button">Leave Feedback</a>
                                            <button class="base-btn" id="repeat-order">Repeat the order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            @@include('../common/pagination.html')
        </div>
    </div>
</div>

<!-- Start footer -->
@@include('../common/footer-page.html')