@@include('../common/header-page.html')

<!-- End header section-->
<div class="container">
    <div class="row row-wrap">
        <div class="left-col">

            @@include('account-menu.html')

        </div>

        <div class="content">
            <div class="account-container">
                <div class="account-container-header">
                    <div class="orders-filter-tabs">
                        <ul>
                            <li class="active">
                                <a href="#all-orders">
                                    <div class="status-circle-block">
                                        <div class="in-progres-circle"></div>
                                        <div class="done-circle"></div>
                                        <div class="rejected-circle"></div>
                                    </div>

                                    All orders
                                </a>
                            </li>
                            <li>
                                <a href="#in-progress">
                                    <div class="status-circle-block">
                                        <div class="in-progres-circle"></div>
                                    </div>
                                    In progress
                                </a>
                            </li>
                            <li>
                                <a href="#done">
                                    <div class="status-circle-block">
                                        <div class="done-circle"></div>
                                    </div>
                                    Done
                                </a>
                            </li>
                            <li>
                                <a href="#rejected">
                                    <div class="status-circle-block">
                                        <div class="rejected-circle"></div>
                                    </div>
                                    Rejected
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


                <div class="account-orders-table">
                    <ul class="accordion__list">

                        <li class="accordion-has-children active" data-status="in-progress">
                            <div class="accordion__label order-info-header">
                                <div class="order-info-col">
                                    <div class="order-info-col-title order-info-status">Order status</div>
                                    <div class="order-info-id">Processed</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order #id</div>
                                    <div class="order-info-id">27</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order date</div>
                                    <div class="order-info-date">20/06/2022</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order amount</div>
                                    <div class="order-info-price price">$207.25</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title"></div>
                                    <div class="order-info">
                                        <button class="base-button pay-order_button">Pay order</button>
                                    </div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-image-block">
                                        <img src="https://betaoc.equipmentdoctors.com/image/catalog/product/b7c05e89a8c4e3773f1b3c3937133df5.webp"
                                            alt="QUARTER FENDER LOW KIT (FE)">
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__list order-info-expansion">
                                <div class="order-info-expansion-col order-info-left-col">
                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Shiping Information</h3>
                                        </div>
                                        <div class="order-shiping-info">
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Name:</div>
                                                <div class="order-shiping-info-col">Some Name</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Email:</div>
                                                <div class="order-shiping-info-col">test@test.com</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Phone:</div>
                                                <div class="order-shiping-info-col">+188888888</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">State/Province:</div>
                                                <div class="order-shiping-info-col">Alabama </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">City:</div>
                                                <div class="order-shiping-info-col">Montgomery </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Address:</div>
                                                <div class="order-shiping-info-col">1080 Eastern Blvd, Montgomery, AL
                                                    36117 </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Apartment/Suite/Building:</div>
                                                <div class="order-shiping-info-col">-</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Payment method:</div>
                                                <div class="order-shiping-info-col">Visa ****9879</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Order Status</h3>

                                            <div class="header-order-status">Preparing to ship</div>
                                        </div>

                                        <ul class="order-status-list">
                                            <li class="order-status" data-status="done">
                                                <span class="order-status-name">Request processing</span>
                                                <span class="order-status-process">Done</span>
                                            </li>
                                            <li class="order-status" data-status="done">
                                                <span class="order-status-name">Accepted in the work</span>
                                                <span class="order-status-process">Done</span>
                                            </li>
                                            <li class="order-status" data-status="current">
                                                <span class="order-status-name">Preparing to ship</span>
                                                <span class="order-status-process">In Progress</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Delivery to the carrier</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Delivery in the branch of the issuing
                                                    point</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Parcel received</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="order-info-expansion-col order-info-right-col">
                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Part Description</h3>
                                        </div>

                                        <ul class="order-product-item">
                                            <li>
                                                <div class="order-product-item-caption">
                                                    <h3>GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="price">$1,725.00</div>
                                                        <div class="quantity-block">
                                                            <span class="quantity-text">Quantity:</span>
                                                            <span class="quantity-value">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="order-product-image">
                                                    <img src="../../img/common/order-info-img.png"
                                                        alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                </div>
                                            </li>

                                            <li>
                                                <div class="order-product-item-caption">
                                                    <h3>GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="price">$1,725.00</div>
                                                        <div class="quantity-block">
                                                            <span class="quantity-text">Quantity:</span>
                                                            <span class="quantity-value">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="order-product-image">
                                                    <img src="../../img/common/order-info-img.png"
                                                        alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                </div>
                                            </li>

                                            <li>
                                                <div class="order-product-item-caption">
                                                    <h3>GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="price">$1,725.00</div>
                                                        <div class="quantity-block">
                                                            <span class="quantity-text">Quantity:</span>
                                                            <span class="quantity-value">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="order-product-image">
                                                    <img src="../../img/common/order-info-img.png"
                                                        alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                </div>
                                            </li>

                                        </ul>

                                        <div class="order-total">
                                            <div class="order-total_row">
                                                <div>
                                                    3 items in total
                                                </div>
                                                <div class="order-total_value">
                                                    $5,225.00
                                                </div>
                                            </div>
                                            <div class="order-total_row">
                                                <div>
                                                    Cost of delivery
                                                </div>
                                                <div class="order-total_value">
                                                    Free
                                                </div>
                                            </div>
                                            <div class="order-total_footer">
                                                <div class="order-total_row">
                                                    <div>
                                                        Total
                                                    </div>
                                                    <div class="checkout-total_value">
                                                        $5,225.00
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="row order-button-row">
                                            <a class="feedback-button">Leave Feedback</a>
                                            <button class="base-btn" id="repeat-order">Repeat the order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="accordion-has-children active" data-status="done">
                            <div class="accordion__label order-info-header">
                                <div class="status-circle-block">
                                    <div class="done-circle"></div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title order-info-status">Done</div>
                                    <div class="order-info-id">456475112323234</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order date</div>
                                    <div class="order-info-date">02/06/2021</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order amount</div>
                                    <div class="order-info-price price">$5,725.00</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-image-block">
                                        <img src="../../img/common/order-info-img.png"
                                            alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__list order-info-expansion">
                                <div class="order-info-expansion-col order-info-left-col">
                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Shiping Information</h3>
                                        </div>
                                        <div class="order-shiping-info">
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Name:</div>
                                                <div class="order-shiping-info-col">Some Name</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Email:</div>
                                                <div class="order-shiping-info-col">test@test.com</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Phone:</div>
                                                <div class="order-shiping-info-col">+188888888</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">State/Province:</div>
                                                <div class="order-shiping-info-col">Alabama </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">City:</div>
                                                <div class="order-shiping-info-col">Montgomery </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Address:</div>
                                                <div class="order-shiping-info-col">1080 Eastern Blvd, Montgomery, AL
                                                    36117 </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Apartment/Suite/Building:</div>
                                                <div class="order-shiping-info-col">-</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Payment method:</div>
                                                <div class="order-shiping-info-col">Visa ****9879</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Order Status</h3>

                                            <div class="header-order-status">Preparing to ship</div>
                                        </div>

                                        <ul class="order-status-list">
                                            <li class="order-status" data-status="done">
                                                <span class="order-status-name">Request processing</span>
                                                <span class="order-status-process">Done</span>
                                            </li>
                                            <li class="order-status" data-status="done">
                                                <span class="order-status-name">Accepted in the work</span>
                                                <span class="order-status-process">Done</span>
                                            </li>
                                            <li class="order-status" data-status="current">
                                                <span class="order-status-name">Preparing to ship</span>
                                                <span class="order-status-process">In Progress</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Delivery to the carrier</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Delivery in the branch of the issuing
                                                    point</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Parcel received</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="order-info-expansion-col order-info-right-col">
                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Part Description</h3>
                                        </div>

                                        <ul class="order-product-item">
                                            <li>
                                                <div class="order-product-item-caption">
                                                    <h3>GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="price">$1,725.00</div>
                                                        <div class="quantity-block">
                                                            <span class="quantity-text">Quantity:</span>
                                                            <span class="quantity-value">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="order-product-image">
                                                    <img src="../../img/common/order-info-img.png"
                                                        alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                </div>
                                            </li>
                                        </ul>

                                        <div class="row order-button-row">
                                            <a class="feedback-button">Leave Feedback</a>
                                            <button class="base-btn" id="repeat-order">Repeat the order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="accordion-has-children active" data-status="done">
                            <div class="accordion__label order-info-header">
                                <div class="status-circle-block">
                                    <div class="done-circle"></div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title order-info-status">Done</div>
                                    <div class="order-info-id">456475112323234</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order date</div>
                                    <div class="order-info-date">02/06/2021</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order amount</div>
                                    <div class="order-info-price price">$1,725.00</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-image-block">
                                        <img src="../../img/common/order-info-img.png"
                                            alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__list order-info-expansion">
                                <div class="order-info-expansion-col order-info-left-col">
                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Shiping Information</h3>
                                        </div>
                                        <div class="order-shiping-info">
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Name:</div>
                                                <div class="order-shiping-info-col">Some Name</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Email:</div>
                                                <div class="order-shiping-info-col">test@test.com</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Phone:</div>
                                                <div class="order-shiping-info-col">+188888888</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">State/Province:</div>
                                                <div class="order-shiping-info-col">Alabama </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">City:</div>
                                                <div class="order-shiping-info-col">Montgomery </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Address:</div>
                                                <div class="order-shiping-info-col">1080 Eastern Blvd, Montgomery, AL
                                                    36117 </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Apartment/Suite/Building:</div>
                                                <div class="order-shiping-info-col">-</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Payment method:</div>
                                                <div class="order-shiping-info-col">Visa ****9879</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Order Status</h3>

                                            <div class="header-order-status">Preparing to ship</div>
                                        </div>

                                        <ul class="order-status-list">
                                            <li class="order-status" data-status="done">
                                                <span class="order-status-name">Request processing</span>
                                                <span class="order-status-process">Done</span>
                                            </li>
                                            <li class="order-status" data-status="done">
                                                <span class="order-status-name">Accepted in the work</span>
                                                <span class="order-status-process">Done</span>
                                            </li>
                                            <li class="order-status" data-status="current">
                                                <span class="order-status-name">Preparing to ship</span>
                                                <span class="order-status-process">In Progress</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Delivery to the carrier</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Delivery in the branch of the issuing
                                                    point</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Parcel received</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="order-info-expansion-col order-info-right-col">
                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Part Description</h3>
                                        </div>

                                        <ul class="order-product-item">
                                            <li>
                                                <div class="order-product-item-caption">
                                                    <h3>GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="price">$1,725.00</div>
                                                        <div class="quantity-block">
                                                            <span class="quantity-text">Quantity:</span>
                                                            <span class="quantity-value">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="order-product-image">
                                                    <img src="../../img/common/order-info-img.png"
                                                        alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                </div>
                                            </li>
                                        </ul>

                                        <div class="row order-button-row">
                                            <a class="feedback-button">Leave Feedback</a>
                                            <button class="base-btn" id="repeat-order">Repeat the order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                        <li class="accordion-has-children active" data-status="rejected">
                            <div class="accordion__label order-info-header">
                                <div class="status-circle-block">
                                    <div class="rejected-circle"></div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title order-info-status">Rejected</div>
                                    <div class="order-info-id">456475112323234</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order date</div>
                                    <div class="order-info-date">02/06/2021</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order amount</div>
                                    <div class="order-info-price price">$1,725.00</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-image-block">
                                        <img src="../../img/common/order-info-img.png"
                                            alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                    </div>
                                </div>
                            </div>

                            <div class="accordion__list order-info-expansion">
                                <div class="order-info-expansion-col order-info-left-col">
                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Shiping Information</h3>
                                        </div>
                                        <div class="order-shiping-info">
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Name:</div>
                                                <div class="order-shiping-info-col">Some Name</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Email:</div>
                                                <div class="order-shiping-info-col">test@test.com</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Customer Phone:</div>
                                                <div class="order-shiping-info-col">+188888888</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">State/Province:</div>
                                                <div class="order-shiping-info-col">Alabama </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">City:</div>
                                                <div class="order-shiping-info-col">Montgomery </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Address:</div>
                                                <div class="order-shiping-info-col">1080 Eastern Blvd, Montgomery, AL
                                                    36117 </div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Apartment/Suite/Building:</div>
                                                <div class="order-shiping-info-col">-</div>
                                            </div>
                                            <div class="order-shiping-info-row">
                                                <div class="order-shiping-info-col">Payment method:</div>
                                                <div class="order-shiping-info-col">Visa ****9879</div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Order Status</h3>

                                            <div class="header-order-status">Preparing to ship</div>
                                        </div>

                                        <ul class="order-status-list">
                                            <li class="order-status" data-status="done">
                                                <span class="order-status-name">Request processing</span>
                                                <span class="order-status-process">Done</span>
                                            </li>
                                            <li class="order-status" data-status="done">
                                                <span class="order-status-name">Accepted in the work</span>
                                                <span class="order-status-process">Done</span>
                                            </li>
                                            <li class="order-status" data-status="rejected">
                                                <span class="order-status-name">Preparing to ship</span>
                                                <span class="order-status-process">Rejected</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Delivery to the carrier</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Delivery in the branch of the issuing
                                                    point</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                            <li class="order-status" data-status="next">
                                                <span class="order-status-name">Parcel received</span>
                                                <span class="order-status-process">Not finish</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="order-info-expansion-col order-info-right-col">
                                    <div class="order-info-block">
                                        <div class="account-container-header">
                                            <h3>Part Description</h3>
                                        </div>

                                        <ul class="order-product-item">
                                            <li>
                                                <div class="order-product-item-caption">
                                                    <h3>GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="price">$1,725.00</div>
                                                        <div class="quantity-block">
                                                            <span class="quantity-text">Quantity:</span>
                                                            <span class="quantity-value">1</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="order-product-image">
                                                    <img src="../../img/common/order-info-img.png"
                                                        alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                </div>
                                            </li>
                                        </ul>

                                        <div class="row order-button-row">
                                            <a class="feedback-button">Leave Feedback</a>
                                            <button class="base-btn" id="repeat-order">Repeat the order</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
            @@include('../common/pagination.html')
        </div>
    </div>
</div>

<!-- Pay pop-up -->
<div class="pop-up-wrap pop-up-pay-form">
    <div class="pop-up-content">
        <button class="close-pop-up" data-close=""><i class="far fa-times-circle" aria-hidden="true"></i></button>
        <div class="payment-form-wrap">
            <form>
                <div class="form-title">General</div>


                <div class="form-group">
                    <label for="payment-first-name">First name</label>
                    <input type="text" name="payment-first-name">
                </div>
                <div class="form-group">
                    <label for="payment-last-name">Last name</label>
                    <input type="text" name="payment-last-name">
                </div>



                <div class="form-group">
                    <label for="payment-card-number">Card number</label>
                    <input type="text" name="payment-card-number">
                </div>

                <div class="form-group">
                    <div class="form-group select-list">
                        <label for="payment-months">MM</label>
                        <select class="selected-months select2-hidden-accessible" name="payment-month" data-select2-id="select2-data-16-7vpj" tabindex="-1" aria-hidden="true">
                            <option value="01" data-select2-id="select2-data-18-n8jo">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>

                    <div class="form-group select-list">
                        <label for="payment-year">YY</label>
                        <select class="selected-year select2-hidden-accessible" name="payment-year" data-select2-id="select2-data-19-y0o4" tabindex="-1" aria-hidden="true">
                            <option value="01" data-select2-id="select2-data-21-gdnm">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="payment-cvv">CVV</label>
                        <input type="password" name="payment-cvv">
                    </div>
                </div>

                <div class="form-title">Billing Information</div>

                <div class="form-group">
                    <label for="payment-address-street">Street Address</label>
                    <input type="text" name="payment-address-street">
                </div>
                <div class="form-group apt-form-group">
                    <label for="payment-address-apt">Apt or unit </label>
                    <input type="text" name="payment-address-apt">
                </div>
                <div class="form-group city-form-group">
                    <label for="payment-address-city">City</label>
                    <input type="text" name="payment-address-city">
                </div>
                <div class="form-group">
                    <label for="payment-address-state">State</label>
                    <div class="select-list">
                        <select class="selected-state select2-hidden-accessible" data-select2-id="select2-data-22-joaw" tabindex="-1" aria-hidden="true">
                            <option value="AL" data-select2-id="select2-data-24-2kof">40 Wood Ave, Secaucus, NJ 07094, USA</option>
                            <option value="WY">41 Wood Ave, Secaucus, NJ 07094, USA</option>
                            <option value="button">+Add new address</option>
                        </select>
                    </div>
                </div>
                <div class="form-group city-form-group">
                    <label for="payment-address-zip-code">Zip Code</label>
                    <input type="text" name="payment-address-zip-code">
                </div>

                <div class="button-group">
                    <button class="cancel-button" data-close="">Cancel</button>
                    <button class="base-button" disabled="true">
                        Save Card
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- End pay pop-up -->

<!-- Start footer -->
@@include('../common/footer-page.html')