@@include('../common/header-page.html')

<!-- End header section-->
<div class="container">
  <div class="row row-wrap">
    <div class="left-col">

        @@include('account-menu.html')

    </div>

    <div class="content">
        <div class="account-container">
            <div class="account-container-header">
                <h1>My information</h1>
            </div>  

            <div class="account-personal-info-form-wrap">
                <form>
                    <div class="form-group">
                        <label for="personal-first-name">First name</label>
                        <input type="text" name="personal-first-name" value="John">

                    </div>

                    <div class="form-group">
                        <label for="payment-last-name">Last name</label>
                        <input type="text" name="payment-last-name" value="Dou">
                    </div>

                    <div class="form-group">
                        <label for="personal-email">Email address</label>
                        <input type="email" name="personal-email" value="Email_example@example.com">
                    </div>

                    <div class="form-group">
                      <label for="personal-phone">Phone number</label>
                      <input type="text" name="personal-phone" value="+103040340340">
                    </div>

                    <div class="form-group">
                      <label for="personal-password">Password</label>
                      <input type="password" name="personal-password" value="1234777">
                    </div>

                    <div class="account-container-footer">
                        <div class="button-group pop-up-button-group">
                            <button class="cancel-button">Cancel</button>
                            <button class="base-button" data-name="change" disabled="true">
                                Save 
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
  </div>
</div>




<!-- Start footer -->
@@include('../common/footer-page.html')