@@include('../common/header-page.html')

<!-- End header section-->
<div class="container">
    <div class="row row-wrap">
        <div class="left-col">

            @@include('account-menu.html')

        </div>

        <div class="content">
            <div class="account-container">
                <div class="account-container-header">
                    <h1>Select items or orders which need to return</h1>

                    <button class="base-button return-button">Return Items</button>
                </div>

                <div class="account-orders-table">
                    <ul class="accordion__list returns-list">

                        <li class="accordion-has-children">
                            <div class="accordion__label order-info-header">
                                <div class="order-info-col">
                                    <div class="order-info-col-title order-info-status">Order number: </div>
                                    <div class="order-info-id order-info-returns-id">456475112323234</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order date</div>
                                    <div class="order-info-date">02/06/2021</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Shipping address: </div>
                                    <div class="order-info-address">-</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Payment Method: </div>
                                    <div class="order-info-payment-method">Visa ****9879</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Status: </div>
                                    <div class="order-info-returns-status" data-status="error">Received by the
                                        Diagnostic Department</div>
                                </div>
                            </div>

                            <div class="accordion__list order-info-expansion returns-item-detail">
                                <ul class="order-status-list">
                                    <li class="order-status" data-status="done">
                                        <div class="items-for-returns">
                                            <span class="order-status-name">Items for return</span>
                                            <ul>
                                                <li>
                                                    <div class="order-info-col">
                                                        <div class="order-info-image-block">
                                                            <img src="../../img/common/order-info-img.png"
                                                                alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                        </div>
                                                    </div>
                                                    <div class="order-info-col">
                                                        <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM
                                                        </h3>
                                                        <div class="row">
                                                            <div class="order-info-quantity">Quantity: <span>1</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="order-status-process">Done</span>
                                    </li>
                                    <li class="order-status" data-status="done">
                                        <span class="order-status-name">Accepted by delivery</span>
                                        <span class="order-status-process">Done</span>
                                    </li>
                                    <li class="order-status" data-status="done">
                                        <span class="order-status-name">Delivered to Equipment doctor</span>
                                        <span class="order-status-process">Done</span>
                                    </li>
                                    <li class="order-status" data-status="error">
                                        <div class="return-report-block">
                                            <span class="order-status-name">Received by the Diagnostic Department</span>
                                            <div class="report-comment">
                                                <div class="report-title">Report:</div>
                                                <div class="report-text">
                                                    The diagnostics department indicated a breakdown on the client's
                                                    side.
                                                    <a href="/view/info/contact.html">Contact us</a>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="order-status-process">Failed</span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <div class="return-payment-method">
                                            <span class="order-status-name">Method of return payment</span>
                                            <form class="return-payment-method_list">
                                                <select>
                                                    <option>Visa ****9879</option>
                                                    <option>Visa ****9878</option>
                                                    <option>Visa ****9877</option>
                                                </select>
                                                <button type="submit" id="change-payment-method">Change</button>
                                            </form>
                                        </div>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <span class="order-status-name">Confirmation & Summary</span>
                                        <span class="order-status-process"></span>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="accordion-has-children">
                            <div class="accordion__label order-info-header">
                                <div class="order-info-col">
                                    <div class="order-info-col-title order-info-status">Order number: </div>
                                    <div class="order-info-id order-info-returns-id">456475112323234</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order date</div>
                                    <div class="order-info-date">02/06/2021</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Shipping address: </div>
                                    <div class="order-info-address">-</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Payment Method: </div>
                                    <div class="order-info-payment-method">Visa ****9879</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Status: </div>
                                    <div class="order-info-returns-status">Accepted by delivery</div>
                                </div>
                            </div>

                            <div class="accordion__list order-info-expansion returns-item-detail">
                                <ul class="order-status-list">
                                    <li class="order-status" data-status="done">
                                        <div class="items-for-returns">
                                            <span class="order-status-name">Items for return</span>
                                            <ul>
                                                <li>
                                                    <div class="order-info-col">
                                                        <div class="order-info-image-block">
                                                            <img src="../../img/common/order-info-img.png"
                                                                alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                        </div>
                                                    </div>
                                                    <div class="order-info-col">
                                                        <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM
                                                        </h3>
                                                        <div class="row">
                                                            <div class="order-info-quantity">Quantity: <span>1</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="order-status-process">Done</span>
                                    </li>
                                    <li class="order-status" data-status="done">
                                        <span class="order-status-name">Accepted by delivery</span>
                                        <span class="order-status-process">Done</span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <span class="order-status-name">Delivered to Equipment doctor</span>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <div class="return-report-block">
                                            <span class="order-status-name">Received by the Diagnostic Department</span>
                                            <div class="report-comment">
                                                <div class="report-title">Report:</div>
                                                <div class="report-text">
                                                    The diagnostics department indicated a breakdown on the client's
                                                    side.
                                                    <a href="/view/info/contact.html">Contact us</a>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <div class="return-payment-method">
                                            <span class="order-status-name">Method of return payment</span>
                                            <div class="return-payment-method_list">
                                                <ul>
                                                    <li>Visa ****9879</li>
                                                </ul>
                                                <button>Change</button>
                                            </div>
                                        </div>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <span class="order-status-name">Confirmation & Summary</span>
                                        <span class="order-status-process"></span>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="accordion-has-children">
                            <div class="accordion__label order-info-header">
                                <div class="order-info-col">
                                    <div class="order-info-col-title order-info-status">Order number: </div>
                                    <div class="order-info-id order-info-returns-id">456475112323234</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order date</div>
                                    <div class="order-info-date">02/06/2021</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Shipping address: </div>
                                    <div class="order-info-address">-</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Payment Method: </div>
                                    <div class="order-info-payment-method">Visa ****9879</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Status: </div>
                                    <div class="order-info-returns-status">Accepted by delivery</div>
                                </div>
                            </div>

                            <div class="accordion__list order-info-expansion returns-item-detail">
                                <ul class="order-status-list">
                                    <li class="order-status" data-status="done">
                                        <div class="items-for-returns">
                                            <span class="order-status-name">Items for return</span>
                                            <ul>
                                                <li>
                                                    <div class="order-info-col">
                                                        <div class="order-info-image-block">
                                                            <img src="../../img/common/order-info-img.png"
                                                                alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                        </div>
                                                    </div>
                                                    <div class="order-info-col">
                                                        <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM
                                                        </h3>
                                                        <div class="row">
                                                            <div class="order-info-quantity">Quantity: <span>1</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="order-status-process">Done</span>
                                    </li>
                                    <li class="order-status" data-status="done">
                                        <span class="order-status-name">Accepted by delivery</span>
                                        <span class="order-status-process">Done</span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <span class="order-status-name">Delivered to Equipment doctor</span>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <div class="return-report-block">
                                            <span class="order-status-name">Received by the Diagnostic Department</span>
                                            <div class="report-comment">
                                                <div class="report-title">Report:</div>
                                                <div class="report-text">
                                                    The diagnostics department indicated a breakdown on the client's
                                                    side.
                                                    <a href="/view/info/contact.html">Contact us</a>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <div class="return-payment-method">
                                            <span class="order-status-name">Method of return payment</span>
                                            <div class="return-payment-method_list">
                                                <ul>
                                                    <li>Visa ****9879</li>
                                                </ul>
                                                <button>Change</button>
                                            </div>
                                        </div>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <span class="order-status-name">Confirmation & Summary</span>
                                        <span class="order-status-process"></span>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="accordion-has-children">
                            <div class="accordion__label order-info-header">
                                <div class="order-info-col">
                                    <div class="order-info-col-title order-info-status">Order number: </div>
                                    <div class="order-info-id order-info-returns-id">456475112323234</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order date</div>
                                    <div class="order-info-date">02/06/2021</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Shipping address: </div>
                                    <div class="order-info-address">-</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Payment Method: </div>
                                    <div class="order-info-payment-method">Visa ****9879</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Status: </div>
                                    <div class="order-info-returns-status">Accepted by delivery</div>
                                </div>
                            </div>

                            <div class="accordion__list order-info-expansion returns-item-detail">
                                <ul class="order-status-list">
                                    <li class="order-status" data-status="done">
                                        <div class="items-for-returns">
                                            <span class="order-status-name">Items for return</span>
                                            <ul>
                                                <li>
                                                    <div class="order-info-col">
                                                        <div class="order-info-image-block">
                                                            <img src="../../img/common/order-info-img.png"
                                                                alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                        </div>
                                                    </div>
                                                    <div class="order-info-col">
                                                        <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM
                                                        </h3>
                                                        <div class="row">
                                                            <div class="order-info-quantity">Quantity: <span>1</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="order-status-process">Done</span>
                                    </li>
                                    <li class="order-status" data-status="done">
                                        <span class="order-status-name">Accepted by delivery</span>
                                        <span class="order-status-process">Done</span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <span class="order-status-name">Delivered to Equipment doctor</span>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <div class="return-report-block">
                                            <span class="order-status-name">Received by the Diagnostic Department</span>
                                            <div class="report-comment">
                                                <div class="report-title">Report:</div>
                                                <div class="report-text">
                                                    The diagnostics department indicated a breakdown on the client's
                                                    side.
                                                    <a href="/view/info/contact.html">Contact us</a>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <div class="return-payment-method">
                                            <span class="order-status-name">Method of return payment</span>
                                            <div class="return-payment-method_list">
                                                <ul>
                                                    <li>Visa ****9879</li>
                                                </ul>
                                                <button>Change</button>
                                            </div>
                                        </div>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <span class="order-status-name">Confirmation & Summary</span>
                                        <span class="order-status-process"></span>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>


            </div>



        </div>
    </div>
</div>

<!-- Start returns modal window -->

<div class="pop-up-wrap returns-pop-up">
    <div class="container">
        <div class="row row-wrap">
            <div class="left-col"></div>
            <div class="content">
                <form class="account-container modal-returns">
                    <div class="account-container-header">
                        <h1>Select items or orders which need to return</h1>

                        <div class="return-steps">
                            Step <div class="returnt-current-step" data-step="1">1</div> / <div
                                class="return-all-steps">4</div>
                        </div>
                    </div>

                    <div class="returns-form-step">
                        <div class="account-orders-table account-rerurns-table">
                            <ul>
                                <li>
                                    <div class="order-returs-header">
                                        <input type="checkbox" id="order-id-456475112323234" name="order-id-456475112323234"
                                            value="Order number: 456475112323234">
                                        <label for="order-id-456475112323234">
                                            Order number: <b>456475112323234</b>
                                        </label>
                                    </div>
                                    <ul class="returs-order-list">
                                        <li>
                                            <input type="checkbox" id="product-id-4" name="product-id-4"
                                                value="GDB03562 TRW ABS BREAKING SYSTEM">
                                            <label for="product-id-4">
                                                <div class="order-info-col">
                                                    <div class="order-info-image-block">
                                                        <img src="../../img/common/order-info-img.png"
                                                            alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                    </div>
                                                </div>
                                                <div class="order-info-col">
                                                    <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="order-info-price price">$5,725.00</div>
                                                        <div class="order-info-quantity">Quantity: <span>1</span></div>
                                                    </div>
                                                </div>
                                            </label>
                                        </li>
    
                                        <li>
                                            <input type="checkbox" id="product-id-5" name="product-id-5"
                                                value="GDB03562 TRW ABS BREAKING SYSTEM">
                                            <label for="product-id-5">
                                                <div class="order-info-col">
                                                    <div class="order-info-image-block">
                                                        <img src="../../img/common/order-info-img.png"
                                                            alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                    </div>
                                                </div>
                                                <div class="order-info-col">
                                                    <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="order-info-price price">$5,725.00</div>
                                                        <div class="order-info-quantity">Quantity: <span>1</span></div>
                                                    </div>
                                                </div>
                                            </label>
                                        </li>
    
                                        <li>
                                            <input type="checkbox" id="product-id-6" name="product-id-6"
                                                value="GDB03562 TRW ABS BREAKING SYSTEM">
                                            <label for="product-id-6">
                                                <div class="order-info-col">
                                                    <div class="order-info-image-block">
                                                        <img src="../../img/common/order-info-img.png"
                                                            alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                    </div>
                                                </div>
                                                <div class="order-info-col">
                                                    <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="order-info-price price">$5,725.00</div>
                                                        <div class="order-info-quantity">Quantity: <span>1</span></div>
                                                    </div>
                                                </div>
                                            </label>
                                        </li>
                                    </ul>
                                </li>
    
                                <li>
                                    <div class="order-returs-header">
                                        <input type="checkbox" id="order-id-45647511232323" name="order-id-45647511232323"
                                            value="Order number: 45647511232323">
                                        <label for="order-id-45647511232323">
                                            Order number: <b>45647511232323</b>
                                        </label>
                                    </div>
                                    <ul class="returs-order-list">
                                        <li>
                                            <input type="checkbox" id="product-id-7" name="product-id-7"
                                                value="GDB03562 TRW ABS BREAKING SYSTEM">
                                            <label for="product-id-7">
                                                <div class="order-info-col">
                                                    <div class="order-info-image-block">
                                                        <img src="../../img/common/order-info-img.png"
                                                            alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                    </div>
                                                </div>
                                                <div class="order-info-col">
                                                    <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="order-info-price price">$5,725.00</div>
                                                        <div class="order-info-quantity">Quantity: <span>1</span></div>
                                                    </div>
                                                </div>
                                            </label>
                                        </li>
                                    </ul>
                                </li>
    
                                <li>
                                    <div class="order-returs-header">
                                        <input type="checkbox" id="order-id-4564751123232" name="order-id-4564751123232"
                                            value="Order number: 4564751123232">
                                        <label for="order-id-4564751123232">
                                            Order number: <b>4564751123232</b>
                                        </label>
                                    </div>
                                    <ul class="returs-order-list">
                                        <li>
                                            <input type="checkbox" id="product-id-8" name="product-id-8"
                                                value="GDB03562 TRW ABS BREAKING SYSTEM">
                                            <label for="product-id-8">
                                                <div class="order-info-col">
                                                    <div class="order-info-image-block">
                                                        <img src="../../img/common/order-info-img.png"
                                                            alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                    </div>
                                                </div>
                                                <div class="order-info-col">
                                                    <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="order-info-price price">$5,725.00</div>
                                                        <div class="order-info-quantity">Quantity: <span>1</span></div>
                                                    </div>
                                                </div>
                                            </label>
                                        </li>
    
                                        <li>
                                            <input type="checkbox" id="product-id-9" name="product-id-9"
                                                value="GDB03562 TRW ABS BREAKING SYSTEM">
                                            <label for="product-id-9">
                                                <div class="order-info-col">
                                                    <div class="order-info-image-block">
                                                        <img src="../../img/common/order-info-img.png"
                                                            alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                    </div>
                                                </div>
                                                <div class="order-info-col">
                                                    <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM</h3>
                                                    <div class="row">
                                                        <div class="order-info-price price">$5,725.00</div>
                                                        <div class="order-info-quantity">Quantity: <span>1</span></div>
                                                    </div>
                                                </div>
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="returns-form-step">
                       <div class="returns-form-group">
                           <div class="returns-form-title">
                                <span>1.</span> Returned items
                           </div>
                           <div class="returns-form-item-list">
                               <ul>
                                   <li>
                                        <div class="order-info-col">
                                            <div class="order-info-col-title order-info-status">Order number: </div>
                                            <div class="order-info-id order-info-returns-id">456475112323234</div>
                                        </div>
                                        <div class="order-info-col">
                                            <div class="order-info-col-title">Order date</div>
                                            <div class="order-info-date">02/06/2021</div>
                                        </div>
                                        <button>Change</button>
                                   </li>
                               </ul>
                           </div>
                       </div> 

                       <div class="returns-form-group">
                            <div class="returns-form-title">
                                <span>2.</span> Reason for return
                            </div>
                            <label>Specify Reason for Return</label>
                            <textarea></textarea>
                            <div class="reason-text">
                                <p></p>
                                <button>Change</button>
                            </div>
                        </div>

                        <div class="returns-form-group">
                            <div class="returns-form-title">
                                <span>3.</span> Shipping
                            </div>

                            <div class="returns-address-block">
                                <div class="returns-address-block">
                                    <div class="returns-adress_ico">
                                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <use data-bg="stroke" href="#addresses"></use>
                                        </svg>     
                                    </div>

                                    <div class="returns-address-empty-text">
                                        Add your address   
                                    </div>

                                    <div class="returns-address">
                                        40 Wood Ave, Secaucus, NJ 07094, USA
                                    </div>

                                    <button class="change-returns-address">
                                        Change
                                    </button>

                                </div>
                            </div>

                            <div class="return-address-form">
                                <div class="form-group">
                                    <label for="returns-street">Street Address</label>
                                    <input type="text" name="returns-street">
                                </div>
                                <div class="form-group">
                                    <label for="returns-apt">Apt or unit </label>
                                    <input type="text" name="returns-apt">
                                </div>
                                <div class="form-group">
                                    <label for="returns-city">City</label>
                                    <input type="text" name="returns-city">
                                </div>
                                <div class="form-group">
                                    <label for="returns-state">State</label>
                                    <div class="select-list">
                                        <input class="select-active-item" name="returns-state" value="Alabama">
                                        <ul>
                                            <li>Alabama</li>
                                            <li>Alaska</li>
                                            <li>Arizona</li>
                                            <li>Arkansas</li>
                                            <li>California</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="returns-zip-code">Zip Code</label>
                                    <input type="text" name="returns-zip-code">
                                </div>
                            </div>

                            <div class="returns-adress-list">
                                <div class="form-group">
                                    <div class="select-list">
                                        <input class="select-active-item" name="returns-state" value="40 Wood Ave, Secaucus, NJ 07094, USA">
                                        <ul>
                                            <li>40 Wood Ave, Secaucus, NJ 07094, USA</li>
                                            <li>40 Wood Ave, Secaucus, NJ 07094, USA</li>
                                            <li>
                                                <button>+Add new address</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="returns-form-group">
                            <div class="returns-form-title">
                                <span>4.</span> Payment method
                            </div>
                            <div class="form-group">
                                <div class="select-list">
                                    <input class="select-active-item" name="returns-payment" value="Visa  ****9879">
                                    <ul>
                                        <li>Visa  ****9879</li>
                                        <li>Visa  ****9879</li>
                                        <li>
                                            <button>+Add new payment method</button>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <p>* Selected automatically. Specified by the user when paying for the goods</p>
                        </div>

                    </div>

                    <div class="account-container-footer">
                        <div class="button-group pop-up-button-group">
                            <button class="cancel-button" data-close="">Cancel</button>
                            <button class="base-button">
                                Next
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End returns modal window -->



<!-- Start footer -->
@@include('../common/footer-page.html')