@@include('../common/header-page.html')

<!-- End header section-->
<div class="container">
    <div class="row row-wrap">
        <div class="left-col">

            @@include('account-menu.html')

        </div>

        <div class="content">
            <div class="account-container">
                <div class="account-container-header">
                    <h1>Select items or orders which need to return</h1>

                    <button class="base-button return-button">Return Items</button>
                </div>

                <div class="account-orders-table">
                    <ul class="accordion__list returns-list">

                        <li class="accordion-has-children">
                            <div class="accordion__label order-info-header">
                                <div class="order-info-col">
                                    <div class="order-info-col-title order-info-status">Order number: </div>
                                    <div class="order-info-id order-info-returns-id">456475112323234</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order date</div>
                                    <div class="order-info-date">02/06/2021</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Shipping address: </div>
                                    <div class="order-info-address">-</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Payment Method: </div>
                                    <div class="order-info-payment-method">Visa ****9879</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Status: </div>
                                    <div class="order-info-returns-status" data-status="error">Received by the
                                        Diagnostic Department</div>
                                </div>
                            </div>

                            <div class="accordion__list order-info-expansion returns-item-detail">
                                <ul class="order-status-list">
                                    <li class="order-status" data-status="done">
                                        <div class="items-for-returns">
                                            <span class="order-status-name">Items for return</span>
                                            <ul>
                                                <li>
                                                    <div class="order-info-col">
                                                        <div class="order-info-image-block">
                                                            <img src="../../img/common/order-info-img.png"
                                                                alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                        </div>
                                                    </div>
                                                    <div class="order-info-col">
                                                        <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM
                                                        </h3>
                                                        <div class="row">
                                                            <div class="order-info-quantity">Quantity: <span>1</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="order-status-process">Done</span>
                                    </li>
                                    <li class="order-status" data-status="done">
                                        <span class="order-status-name">Accepted by delivery</span>
                                        <span class="order-status-process">Done</span>
                                    </li>
                                    <li class="order-status" data-status="done">
                                        <span class="order-status-name">Delivered to Equipment doctor</span>
                                        <span class="order-status-process">Done</span>
                                    </li>
                                    <li class="order-status" data-status="error">
                                        <div class="return-report-block">
                                            <span class="order-status-name">Received by the Diagnostic Department</span>
                                            <div class="report-comment">
                                                <div class="report-title">Report:</div>
                                                <div class="report-text">
                                                    The diagnostics department indicated a breakdown on the client's
                                                    side.
                                                    <a href="/view/info/contact.html">Contact us</a>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="order-status-process">Failed</span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <div class="return-payment-method">
                                            <span class="order-status-name">Method of return payment</span>
                                            <form class="return-payment-method_list">
                                                <select>
                                                    <option>Visa ****9879</option>
                                                    <option>Visa ****9878</option>
                                                    <option>Visa ****9877</option>
                                                </select>
                                                <button type="submit" id="change-payment-method">Change</button>
                                            </form>
                                        </div>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <span class="order-status-name">Confirmation & Summary</span>
                                        <span class="order-status-process"></span>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="accordion-has-children">
                            <div class="accordion__label order-info-header">
                                <div class="order-info-col">
                                    <div class="order-info-col-title order-info-status">Order number: </div>
                                    <div class="order-info-id order-info-returns-id">456475112323234</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order date</div>
                                    <div class="order-info-date">02/06/2021</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Shipping address: </div>
                                    <div class="order-info-address">-</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Payment Method: </div>
                                    <div class="order-info-payment-method">Visa ****9879</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Status: </div>
                                    <div class="order-info-returns-status">Accepted by delivery</div>
                                </div>
                            </div>

                            <div class="accordion__list order-info-expansion returns-item-detail">
                                <ul class="order-status-list">
                                    <li class="order-status" data-status="done">
                                        <div class="items-for-returns">
                                            <span class="order-status-name">Items for return</span>
                                            <ul>
                                                <li>
                                                    <div class="order-info-col">
                                                        <div class="order-info-image-block">
                                                            <img src="../../img/common/order-info-img.png"
                                                                alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                        </div>
                                                    </div>
                                                    <div class="order-info-col">
                                                        <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM
                                                        </h3>
                                                        <div class="row">
                                                            <div class="order-info-quantity">Quantity: <span>1</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="order-status-process">Done</span>
                                    </li>
                                    <li class="order-status" data-status="done">
                                        <span class="order-status-name">Accepted by delivery</span>
                                        <span class="order-status-process">Done</span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <span class="order-status-name">Delivered to Equipment doctor</span>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <div class="return-report-block">
                                            <span class="order-status-name">Received by the Diagnostic Department</span>
                                            <div class="report-comment">
                                                <div class="report-title">Report:</div>
                                                <div class="report-text">
                                                    The diagnostics department indicated a breakdown on the client's
                                                    side.
                                                    <a href="/view/info/contact.html">Contact us</a>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <div class="return-payment-method">
                                            <span class="order-status-name">Method of return payment</span>
                                            <div class="return-payment-method_list">
                                                <ul>
                                                    <li>Visa ****9879</li>
                                                </ul>
                                                <button>Change</button>
                                            </div>
                                        </div>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <span class="order-status-name">Confirmation & Summary</span>
                                        <span class="order-status-process"></span>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="accordion-has-children">
                            <div class="accordion__label order-info-header">
                                <div class="order-info-col">
                                    <div class="order-info-col-title order-info-status">Order number: </div>
                                    <div class="order-info-id order-info-returns-id">456475112323234</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order date</div>
                                    <div class="order-info-date">02/06/2021</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Shipping address: </div>
                                    <div class="order-info-address">-</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Payment Method: </div>
                                    <div class="order-info-payment-method">Visa ****9879</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Status: </div>
                                    <div class="order-info-returns-status">Accepted by delivery</div>
                                </div>
                            </div>

                            <div class="accordion__list order-info-expansion returns-item-detail">
                                <ul class="order-status-list">
                                    <li class="order-status" data-status="done">
                                        <div class="items-for-returns">
                                            <span class="order-status-name">Items for return</span>
                                            <ul>
                                                <li>
                                                    <div class="order-info-col">
                                                        <div class="order-info-image-block">
                                                            <img src="../../img/common/order-info-img.png"
                                                                alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                        </div>
                                                    </div>
                                                    <div class="order-info-col">
                                                        <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM
                                                        </h3>
                                                        <div class="row">
                                                            <div class="order-info-quantity">Quantity: <span>1</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="order-status-process">Done</span>
                                    </li>
                                    <li class="order-status" data-status="done">
                                        <span class="order-status-name">Accepted by delivery</span>
                                        <span class="order-status-process">Done</span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <span class="order-status-name">Delivered to Equipment doctor</span>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <div class="return-report-block">
                                            <span class="order-status-name">Received by the Diagnostic Department</span>
                                            <div class="report-comment">
                                                <div class="report-title">Report:</div>
                                                <div class="report-text">
                                                    The diagnostics department indicated a breakdown on the client's
                                                    side.
                                                    <a href="/view/info/contact.html">Contact us</a>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <div class="return-payment-method">
                                            <span class="order-status-name">Method of return payment</span>
                                            <div class="return-payment-method_list">
                                                <ul>
                                                    <li>Visa ****9879</li>
                                                </ul>
                                                <button>Change</button>
                                            </div>
                                        </div>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <span class="order-status-name">Confirmation & Summary</span>
                                        <span class="order-status-process"></span>
                                    </li>
                                </ul>
                            </div>
                        </li>

                        <li class="accordion-has-children">
                            <div class="accordion__label order-info-header">
                                <div class="order-info-col">
                                    <div class="order-info-col-title order-info-status">Order number: </div>
                                    <div class="order-info-id order-info-returns-id">456475112323234</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Order date</div>
                                    <div class="order-info-date">02/06/2021</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Shipping address: </div>
                                    <div class="order-info-address">-</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Payment Method: </div>
                                    <div class="order-info-payment-method">Visa ****9879</div>
                                </div>
                                <div class="order-info-col">
                                    <div class="order-info-col-title">Status: </div>
                                    <div class="order-info-returns-status">Accepted by delivery</div>
                                </div>
                            </div>

                            <div class="accordion__list order-info-expansion returns-item-detail">
                                <ul class="order-status-list">
                                    <li class="order-status" data-status="done">
                                        <div class="items-for-returns">
                                            <span class="order-status-name">Items for return</span>
                                            <ul>
                                                <li>
                                                    <div class="order-info-col">
                                                        <div class="order-info-image-block">
                                                            <img src="../../img/common/order-info-img.png"
                                                                alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                        </div>
                                                    </div>
                                                    <div class="order-info-col">
                                                        <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM
                                                        </h3>
                                                        <div class="row">
                                                            <div class="order-info-quantity">Quantity: <span>1</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                        <span class="order-status-process">Done</span>
                                    </li>
                                    <li class="order-status" data-status="done">
                                        <span class="order-status-name">Accepted by delivery</span>
                                        <span class="order-status-process">Done</span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <span class="order-status-name">Delivered to Equipment doctor</span>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <div class="return-report-block">
                                            <span class="order-status-name">Received by the Diagnostic Department</span>
                                            <div class="report-comment">
                                                <div class="report-title">Report:</div>
                                                <div class="report-text">
                                                    The diagnostics department indicated a breakdown on the client's
                                                    side.
                                                    <a href="/view/info/contact.html">Contact us</a>
                                                </div>
                                            </div>
                                        </div>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <div class="return-payment-method">
                                            <span class="order-status-name">Method of return payment</span>
                                            <div class="return-payment-method_list">
                                                <ul>
                                                    <li>Visa ****9879</li>
                                                </ul>
                                                <button>Change</button>
                                            </div>
                                        </div>
                                        <span class="order-status-process"></span>
                                    </li>
                                    <li class="order-status" data-status="next">
                                        <span class="order-status-name">Confirmation & Summary</span>
                                        <span class="order-status-process"></span>
                                    </li>
                                </ul>
                            </div>
                        </li>

                    </ul>
                </div>


            </div>



        </div>
    </div>
</div>

<!-- Start returns modal window -->

<div class="pop-up-wrap returns-pop-up">
    <div class="container">
        <div class="row row-wrap">
            <div class="left-col"></div>
            <div class="content">
                <form class="account-container modal-returns">
                    <div class="account-container-header">
                        <h1>Select items or orders which need to return</h1>

                        <div class="return-steps">
                            Step <div class="returnt-current-step" data-step="1">1</div> / <div
                                class="return-all-steps">4</div>
                        </div>
                    </div>

                    <div class="returns-form-step" data-tab-step="current">
                        <div class="account-orders-table account-rerurns-table">
                            <ul>
                                <li>
                                    <div class="order-returs-header">
                                        <input type="checkbox" id="order-id-456475112323234"
                                            name="order-id-456475112323234" value="Order number: 456475112323234">
                                        <label for="order-id-456475112323234">
                                            Order number: <b>456475112323234</b>
                                        </label>
                                    </div>
                                    <ul class="returs-order-list">
                                        <li>
                                            <input type="checkbox" id="product-id-4" name="product-id-4"
                                                value="GDB03562 TRW ABS BREAKING SYSTEM">
                                            <label for="product-id-4">
                                                <div class="order-info-col">
                                                    <div class="order-info-image-block">
                                                        <img src="../../img/common/order-info-img.png"
                                                            alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                    </div>
                                                </div>
                                                <div class="order-info-col">
                                                    <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM
                                                    </h3>
                                                    <div class="row">
                                                        <div class="order-info-price price">$5,725.00</div>
                                                        <div class="order-info-quantity">Quantity: <span>1</span></div>
                                                    </div>
                                                </div>
                                            </label>
                                        </li>

                                        <li>
                                            <input type="checkbox" id="product-id-5" name="product-id-5"
                                                value="GDB03562 TRW ABS BREAKING SYSTEM">
                                            <label for="product-id-5">
                                                <div class="order-info-col">
                                                    <div class="order-info-image-block">
                                                        <img src="../../img/common/order-info-img.png"
                                                            alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                    </div>
                                                </div>
                                                <div class="order-info-col">
                                                    <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM
                                                    </h3>
                                                    <div class="row">
                                                        <div class="order-info-price price">$5,725.00</div>
                                                        <div class="order-info-quantity">Quantity: <span>1</span></div>
                                                    </div>
                                                </div>
                                            </label>
                                        </li>

                                        <li>
                                            <input type="checkbox" id="product-id-6" name="product-id-6"
                                                value="GDB03562 TRW ABS BREAKING SYSTEM">
                                            <label for="product-id-6">
                                                <div class="order-info-col">
                                                    <div class="order-info-image-block">
                                                        <img src="../../img/common/order-info-img.png"
                                                            alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                    </div>
                                                </div>
                                                <div class="order-info-col">
                                                    <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM
                                                    </h3>
                                                    <div class="row">
                                                        <div class="order-info-price price">$5,725.00</div>
                                                        <div class="order-info-quantity">Quantity: <span>1</span></div>
                                                    </div>
                                                </div>
                                            </label>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <div class="order-returs-header">
                                        <input type="checkbox" id="order-id-45647511232323"
                                            name="order-id-45647511232323" value="Order number: 45647511232323">
                                        <label for="order-id-45647511232323">
                                            Order number: <b>45647511232323</b>
                                        </label>
                                    </div>
                                    <ul class="returs-order-list">
                                        <li>
                                            <input type="checkbox" id="product-id-7" name="product-id-7"
                                                value="GDB03562 TRW ABS BREAKING SYSTEM">
                                            <label for="product-id-7">
                                                <div class="order-info-col">
                                                    <div class="order-info-image-block">
                                                        <img src="../../img/common/order-info-img.png"
                                                            alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                    </div>
                                                </div>
                                                <div class="order-info-col">
                                                    <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM
                                                    </h3>
                                                    <div class="row">
                                                        <div class="order-info-price price">$5,725.00</div>
                                                        <div class="order-info-quantity">Quantity: <span>1</span></div>
                                                    </div>
                                                </div>
                                            </label>
                                        </li>
                                    </ul>
                                </li>

                                <li>
                                    <div class="order-returs-header">
                                        <input type="checkbox" id="order-id-4564751123232" name="order-id-4564751123232"
                                            value="Order number: 4564751123232">
                                        <label for="order-id-4564751123232">
                                            Order number: <b>4564751123232</b>
                                        </label>
                                    </div>
                                    <ul class="returs-order-list">
                                        <li>
                                            <input type="checkbox" id="product-id-8" name="product-id-8"
                                                value="GDB03562 TRW ABS BREAKING SYSTEM">
                                            <label for="product-id-8">
                                                <div class="order-info-col">
                                                    <div class="order-info-image-block">
                                                        <img src="../../img/common/order-info-img.png"
                                                            alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                    </div>
                                                </div>
                                                <div class="order-info-col">
                                                    <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM
                                                    </h3>
                                                    <div class="row">
                                                        <div class="order-info-price price">$5,725.00</div>
                                                        <div class="order-info-quantity">Quantity: <span>1</span></div>
                                                    </div>
                                                </div>
                                            </label>
                                        </li>

                                        <li>
                                            <input type="checkbox" id="product-id-9" name="product-id-9"
                                                value="GDB03562 TRW ABS BREAKING SYSTEM">
                                            <label for="product-id-9">
                                                <div class="order-info-col">
                                                    <div class="order-info-image-block">
                                                        <img src="../../img/common/order-info-img.png"
                                                            alt="GDB03562 TRW ABS BREAKING SYSTEM">
                                                    </div>
                                                </div>
                                                <div class="order-info-col">
                                                    <h3 class="order-product-title">GDB03562 TRW ABS BREAKING SYSTEM
                                                    </h3>
                                                    <div class="row">
                                                        <div class="order-info-price price">$5,725.00</div>
                                                        <div class="order-info-quantity">Quantity: <span>1</span></div>
                                                    </div>
                                                </div>
                                            </label>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="returns-form-step" data-tab-step="next">
                        <div class="returns-form-group">
                            <div class="returns-form-title">
                                <span>1.</span> Returned items
                            </div>
                            <div class="returns-form-item-list">
                                <ul>
                                    <li>
                                        <div class="order-info-col">
                                            <div class="order-info-col-title order-info-status">Order number: </div>
                                            <div class="order-info-id order-info-returns-id">456475112323234</div>
                                        </div>
                                        <div class="order-info-col">
                                            <div class="order-info-col-title">Order date</div>
                                            <div class="order-info-date">02/06/2021</div>
                                        </div>
                                        <button>Change</button>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="returns-form-group">
                            <div class="returns-form-title">
                                <span>2.</span> Reason for return
                            </div>
                            <label for="return-reason">Specify Reason for Return</label>
                            <textarea name="return-reason"></textarea>
                            <div class="reason-text">
                                <p></p>
                                <button data-listener="change">Change</button>
                            </div>
                        </div>

                        <div class="returns-form-group" data-tab-step="next">
                            <div class="returns-form-title">
                                <span>3.</span> Shipping
                            </div>

                            <div class="returns-address-block">
                                <div class="returns-adress_ico">
                                    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                                        <use data-bg="stroke" href="#addresses"></use>
                                    </svg>
                                </div>

                                <div class="returns-address-text-block">
                                    <div class="returns-address-empty-text">
                                        Add your address
                                    </div>

                                    <div class="returns-address">
                                        40 Wood Ave, Secaucus, NJ 07094, USA
                                    </div>
                                </div>

                                <button class="change-returns-address" data-listener="change">
                                    +Add/change
                                </button>
                            </div>

                            <div class="return-address-form">
                                <div class="form-group">
                                    <label for="returns-street">Street Address</label>
                                    <input type="text" name="returns-street">
                                </div>
                                <div class="form-group">
                                    <label for="returns-apt">Apt or unit </label>
                                    <input type="text" name="returns-apt">
                                </div>
                                <div class="form-group">
                                    <label for="returns-city">City</label>
                                    <input type="text" name="returns-city">
                                </div>
                                <div class="form-group">
                                    <label for="returns-state">State</label>
                                    <div class="select-list">
                                        <input class="select-active-item" name="returns-state" value="">
                                        <ul>
                                            <li>Alabama</li>
                                            <li>Alaska</li>
                                            <li>Arizona</li>
                                            <li>Arkansas</li>
                                            <li>California</li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="returns-zip-code">Zip Code</label>
                                    <input type="text" name="returns-zip-code">
                                </div>
                            </div>

                            <div class="returns-address-list">
                                <div class="form-group">
                                    <div class="select-list">
                                        <input class="select-active-item" name="returns-state"
                                            value="40 Wood Ave, Secaucus, NJ 07094, USA">
                                        <ul>
                                            <li>40 Wood Ave, Secaucus, NJ 07094, USA</li>
                                            <li>41 Wood Ave, Secaucus, NJ 07094, USA</li>
                                            <li>
                                                <button data-listener="add">+Add new address</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="returns-form-group" data-tab-step="next">
                            <div class="returns-form-title">
                                <span>4.</span> Payment method
                            </div>
                            <div class="returns-payment-block">
                                <div class="form-group">
                                    <div class="select-list">
                                        <input class="select-active-item" name="returns-payment" value="Visa  ****9879">
                                        <ul>
                                            <li>Visa ****9879</li>
                                            <li>Visa ****9877</li>
                                            <li>
                                                <button data-listener="add">+Add new payment method</button>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <p>* Selected automatically. Specified by the user when paying for the goods</p>
                            </div>
                        </div>

                    </div>

                    <div class="account-container-footer">
                        <div class="button-group pop-up-button-group">
                            <button class="cancel-button" data-close="">Cancel</button>
                            <button class="base-button" data-type="next-step" data-step="1" disabled="true">
                                Next
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!-- End returns modal window -->

<script>
    /*
        Returns step form

  -----------------------------------*/

    const buttonNext = document.querySelector('button[data-type="next-step"]'),
        stepText = document.querySelector('.returnt-current-step'),
        allSteps = document.querySelectorAll('[data-tab-step]'),
        allStepsText = document.querySelector('.return-all-steps'),
        canselButton = document.querySelector('.cancel-button');

    function showSteps(Step, currentStep) {

        let currentTab = [...document.querySelector('[data-tab-step="current"]').children];

        buttonNext.setAttribute('data-step', Step);

        stepText.innerText = Step;
        stepText.setAttribute('data-step', Step);

        allSteps[+currentStep - 1].setAttribute('data-tab-step', 'prev');
        allSteps[+currentStep].setAttribute('data-tab-step', 'current');

        currentTab.forEach(child => {
            if (child.getAttribute('data-tab-step') === 'current') {
                child.parentElement.setAttribute('data-tab-step', 'current');
            }
        });

    }

    let returnsReason = document.querySelector('.returns-form-group textarea')
    returnsChangeButton = document.querySelector('.reason-text button[data-listener="change"]'),
        returnsReasonValue = '',
        returnsReasonText = document.querySelector('.reason-text'),
        returnsAddressButton = document.querySelector('.change-returns-address'),
        returnsAddressesList = document.querySelector('.returns-address-list'),
        returnsAddressesText = document.querySelector('.returns-address-block'),
        returnsAdressButtonAdd = returnsAddressesList.querySelector('button[data-listener="add"]'),
        returnsAddressForm = document.querySelector('.return-address-form');

    returnsReason.addEventListener('input', () => {
        returnsReasonValue = returnsReason.value;

        if (returnsReasonValue.length > 0) {
            buttonNext.removeAttribute('disabled');
        } else {
            buttonNext.setAttribute('disabled', 'true');
        }

        return returnsReasonValue;
    });

    if (buttonNext) {
        allStepsText.innerText = allSteps.length;

        returnsChangeButton.addEventListener('click', (e) => {
            e.preventDefault();

            let parentElement = e.target.parentElement.parentElement.parentElement;

            returnsReasonText.style.display = 'none';
            returnsReason.style.display = 'block';

            buttonNext.setAttribute('data-step', 2);

            stepText.innerText = 2;
            stepText.setAttribute('data-step', 2);
            buttonNext.innerText = 'Next';

            parentElement.querySelector('[data-tab-step="current"]').setAttribute('data-tab-step', 'next');

            if (parentElement.querySelector('[data-tab-step="prev"]')) {
                parentElement.querySelector('[data-tab-step="prev"]').setAttribute('data-tab-step', 'next');
            }
        });

        buttonNext.addEventListener('click', (e) => {
            let stepNumber = buttonNext.getAttribute('data-step'),
                nextStep = +stepNumber + 1;

            if (returnsReasonValue.length > 0) {

                returnsReason.style.display = 'none';
                returnsReason.previousElementSibling.style.display = 'none';

                returnsReasonText.style.display = 'flex';

                returnsReasonText.querySelector('p').innerText = returnsReasonValue;

                buttonNext.removeAttribute('disabled');
            } else {
                buttonNext.setAttribute('disabled', 'true');
            }

            returnsAddressesText.style.display = 'flex';
            returnsAddressesList.style.display = 'none';
            returnsAddressesText.querySelector('.returns-address-text-block .returns-address').innerText =
                returnsAddressesList.querySelector('input').value;

            if (stepNumber == allSteps.length - 1) {
                e.preventDefault();
                showSteps(nextStep, stepNumber);

                buttonNext.innerText = 'Submit';
            } else if (stepNumber == allSteps.length) {
                e.preventSubmit();
            } else {
                e.preventDefault();
                showSteps(nextStep, stepNumber);
            }

            if (returnsAddressForm.getAttribute('data-form-status') == 'show') {
                let newReturnsAddress = [...returnsAddressForm.querySelectorAll('input')]
                    .map(input => input.value)
                    .reduce((previousValue, currentValue) => `${previousValue}, ${currentValue}`);

                returnsAddressForm.style.display = 'none';
                returnsAddressForm.removeAttribute('data-form-status');

                let newAddressItem = document.createElement('li');
                newAddressItem.innerHTML = newReturnsAddress;

                document.querySelector('.returns-address').innerText = newReturnsAddress;
                returnsAddressesList.querySelector('ul').prepend(newAddressItem);
                returnsAddressesList.querySelector('input').setAttribute('value', newReturnsAddress);
            }
        });

        returnsAddressButton.addEventListener('click', (e) => {
            e.preventDefault();

            if (returnsAddressButton.getAttribute('data-listener') == 'change') {

                returnsAddressesList.style.display = 'block';
                returnsAddressesText.style.display = 'none';

                if (returnsAddressesText.parentElement.nextElementSibling.getAttribute('data-tab-step') ==
                    'current') {
                    returnsAddressesText.parentElement.nextElementSibling.setAttribute('data-tab-step', 'next');

                    buttonNext.setAttribute('data-step', +stepText.innerText - 1);

                    stepText.innerText = +stepText.innerText - 1;
                    stepText.setAttribute('data-step', stepText.innerText - 1);
                    buttonNext.innerText = 'Next';
                }

            }
        });

        returnsAdressButtonAdd.addEventListener('click', (e) => {
            e.preventDefault();

            returnsAddressesList.style.display = 'none';

            returnsAddressForm.style.display = 'flex';
            returnsAddressForm.setAttribute('data-form-status', 'show');
            buttonNext.setAttribute('disabled', 'true');
        });


        returnsAddressForm.querySelectorAll('input').forEach(input => {
            input.addEventListener('input', () => {
                if (returnsAddressForm.getAttribute('data-form-status') == 'show') {
                    let inputs = [...returnsAddressForm.querySelectorAll('input')].some(input => {
                        if (input.value.length > 0) {
                            return true;
                        } else {
                            return false;
                        }
                    });

                    if (inputs) {
                        buttonNext.removeAttribute('disabled');
                    } else {
                        buttonNext.setAttribute('disabled', 'true');
                    }

                }
            });
        });

        canselButton.addEventListener('click', () => {
            buttonNext.setAttribute('data-step', '1');

            stepText.innerText = '1';
            stepText.setAttribute('data-step', '1');

            buttonNext.innerText = 'Next';

            allSteps.forEach(step => step.setAttribute('data-tab-step', 'next'))

            allSteps[0].setAttribute('data-tab-step', 'current');
        });
    }

    /*
    Returns checkbox 

----------------------------------------*/

    const mainReturnsCheckbox = document.querySelectorAll('.order-returs-header input[type="checkbox"]'),
        seconndProductCheckbox = document.querySelectorAll('.returs-order-list li input[type="checkbox"]');

    mainReturnsCheckbox.forEach(input => {
        input.addEventListener('click', () => {
            let parentReturnsCheckbox = input.parentElement,
                parentReturnsSibling = parentReturnsCheckbox.nextElementSibling,
                childReturnsCheckbox = parentReturnsSibling.querySelectorAll(
                    'li input[type="checkbox"]');

            if (input.checked) {
                childReturnsCheckbox.forEach(childInputs => {
                    childInputs.checked = true;

                    buttonNext.removeAttribute('disabled');
                })
            } else {
                childReturnsCheckbox.forEach(childInputs => {
                    childInputs.checked = false;

                    buttonNext.setAttribute('disabled', 'true');
                })
            }
        });
    });

    seconndProductCheckbox.forEach(checkbox => {
        checkbox.addEventListener('click', () => {
            let parentReturnsCheckbox = checkbox.parentElement.parentElement,
                checkboxArray = parentReturnsCheckbox.querySelectorAll('input[type="checkbox"]'),
                checkboxCheckedArray = parentReturnsCheckbox.querySelectorAll(
                    'input[type="checkbox"]:checked'),
                mainGroupCheckbox = parentReturnsCheckbox.previousElementSibling.querySelector(
                    'input[type="checkbox"]');


            let checkboxChecked = [...seconndProductCheckbox].some(checkbox => {
                if (checkbox.checked) {
                    return true;
                } else {
                    return false;
                }
            });


            if (checkboxChecked) {
                buttonNext.removeAttribute('disabled');
            } else {
                buttonNext.setAttribute('disabled', 'true');
            }

            if (checkboxArray.length == checkboxCheckedArray.length) {
                mainGroupCheckbox.checked = true;
            } else {
                mainGroupCheckbox.checked = false;
            }

        });
    });
</script>

<!-- Start footer -->
@@include('../common/footer-page.html')