@@include('../common/header-page.html')

<!-- End header section-->
<div class="container">
    <div class="row row-wrap">
        <div class="left-col">

            @@include('account-menu.html')

        </div>

        <div class="content">
            <div class="account-container">
                <div class="account-container-header">
                    <h1>My wallets</h1>

                    <button class="base-button" data-listener="add-payment">Add payment method</button>
                </div>

                <div class="account-payment-list">
                    <div class="account-payment-item" data-payment-system="master">
                        <div class="payment-item-header">
                            <div class="payment-main-checkbox">
                                <input type="radio" id="primary-payment-ID-1" name="primary-payment"
                                    value="payment-first" checked="checked">
                                <label for="primary-payment-ID-1"><span>Primary</span></label>
                            </div>
                            <div class="payment-item-buttons">
                                <button data-listener="edit-payment">
                                    <svg width="16" height="16" viewBox="0 0 16 16"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="#payment-edit"></use>
                                    </svg>
                                </button>
                                <button data-listener="remove-payment">
                                    <svg width="16" height="16" viewBox="0 0 16 16"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="#payment-remove"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="payment-item-body">
                            <div class="payment-card-number">
                                **** **** **** 0329
                            </div>
                            <div class="row">
                                <div class="payment-card-name">Devon Lane</div>
                                <div class="payment-card-date">03/24</div>
                            </div>
                        </div>
                    </div>

                    <div class="account-payment-item" data-payment-system="visa">
                        <div class="payment-item-header">
                            <div class="payment-main-checkbox">
                                <input type="radio" id="primary-payment-ID-2" name="primary-payment"
                                    value="payment-second">
                                <label for="primary-payment-ID-2"><span>Primary</span></label>
                            </div>
                            <div class="payment-item-buttons">
                                <button data-listener="edit-payment">
                                    <svg width="16" height="16" viewBox="0 0 16 16"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="#payment-edit"></use>
                                    </svg>
                                </button>
                                <button data-listener="remove-payment">
                                    <svg width="16" height="16" viewBox="0 0 16 16"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <use xlink:href="#payment-remove"></use>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="payment-item-body">
                            <div class="payment-card-number">
                                **** **** **** 0329
                            </div>
                            <div class="row">
                                <div class="payment-card-name">Devon Lane</div>
                                <div class="payment-card-date">03/24</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="account-payment-form">
                    <div class="tab-row">
                        <ul>
                            <li class="active">
                                Add credit or debit card
                            </li>
                            <li>
                                Electronic Benefits Transfer (EBT)
                            </li>
                        </ul>
                    </div>
                    <div class="payment-form-wrap">
                        <div class="tab-content tab-show">
                            <form>
                                <div class="form-title">General</div>


                                <div class="form-group">
                                    <label for="payment-first-name">First name</label>
                                    <input type="text" name="payment-first-name">
                                </div>
                                <div class="form-group">
                                    <label for="payment-last-name">Last name</label>
                                    <input type="text" name="payment-last-name">
                                </div>



                                <div class="form-group">
                                    <label for="payment-card-number">Card number</label>
                                    <input type="text" name="payment-card-number">
                                </div>

                                <div class="form-group">
                                    <div class="form-group select-list">
                                        <label for="payment-months">MM</label>
                                        <select class="selected-months" name="payment-month">
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>

                                    <div class="form-group select-list">
                                        <label for="payment-year">YY</label>
                                        <select class="selected-year" name="payment-year">
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="payment-cvv">CVV</label>
                                        <input type="password" name="payment-cvv">
                                    </div>
                                </div>

                                <div class="form-title">Billing Information</div>

                                <div class="form-group">
                                    <label for="payment-address-street">Street Address</label>
                                    <input type="text" name="payment-address-street">
                                </div>
                                <div class="form-group apt-form-group">
                                    <label for="payment-address-apt">Apt or unit </label>
                                    <input type="text" name="payment-address-apt">
                                </div>
                                <div class="form-group city-form-group">
                                    <label for="payment-address-city">City</label>
                                    <input type="text" name="payment-address-city">
                                </div>
                                <div class="form-group">
                                    <label for="payment-address-state">State</label>
                                    <div class="select-list">
                                        <select class="selected-state">
                                            <option value="AL">40 Wood Ave, Secaucus, NJ 07094, USA</option>
                                            <option value="WY">41 Wood Ave, Secaucus, NJ 07094, USA</option>
                                            <option value="button"><button data-listener="add">+Add new address</button></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group city-form-group">
                                    <label for="payment-address-zip-code">Zip Code</label>
                                    <input type="text" name="payment-address-zip-code">
                                </div>

                                <div class="button-group">
                                    <button class="cancel-button" data-close="">Cancel</button>
                                    <button class="base-button" disabled="true">
                                        Save Card
                                    </button>
                                </div>
                            </form>
                        </div>

                        <div class="tab-content">
                            <form>
                                <div class="form-title">General</div>


                                <div class="form-group">
                                    <label for="payment-first-name">First name</label>
                                    <input type="text" name="payment-first-name">
                                </div>
                                <div class="form-group">
                                    <label for="payment-last-name">Last name</label>
                                    <input type="text" name="payment-last-name">
                                </div>



                                <div class="form-group">
                                    <label for="payment-ebt-number">Card name (EBT)</label>
                                    <input type="text" name="payment-ebt-number">
                                </div>

                                <div class="form-group">
                                    <div class="form-group select-list">
                                        <label for="payment-months">MM</label>
                                        <select class="selected-months" name="payment-month">
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>

                                    <div class="form-group select-list">
                                        <label for="payment-year">YY</label>
                                        <select class="selected-months" name="payment-month">
                                            <option value="01">01</option>
                                            <option value="02">02</option>
                                            <option value="03">03</option>
                                            <option value="04">04</option>
                                            <option value="05">05</option>
                                            <option value="06">06</option>
                                            <option value="07">07</option>
                                            <option value="08">08</option>
                                            <option value="09">09</option>
                                            <option value="10">10</option>
                                            <option value="11">11</option>
                                            <option value="12">12</option>
                                        </select>
                                    </div>

                                    <div class="form-group">
                                        <label for="payment-cvv">CVV</label>
                                        <input type="password" name="payment-cvv">
                                    </div>
                                </div>


                                <div class="button-group">
                                    <button class="cancel-button" data-close="">Cancel</button>
                                    <button class="base-button" disabled="true">
                                        Save Card
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>

                <div class="account-payment-edit-form ">
                    <div class="payment-form-wrap">
                        <form>
                            <div class="form-title">General</div>


                            <div class="form-group">
                                <label for="payment-first-name">First name</label>
                                <input type="text" name="payment-first-name">
                            </div>
                            <div class="form-group">
                                <label for="payment-last-name">Last name</label>
                                <input type="text" name="payment-last-name">
                            </div>



                            <div class="form-group">
                                <label for="payment-card-number">Card number</label>
                                <input type="text" name="payment-card-number">
                            </div>

                            <div class="form-group">
                                <div class="form-group select-list">
                                    <label for="payment-months">MM</label>
                                    <select class="selected-months" name="payment-month">
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>

                                <div class="form-group select-list">
                                    <label for="payment-year">YY</label>
                                    <select class="selected-year" name="payment-year">
                                        <option value="01">01</option>
                                        <option value="02">02</option>
                                        <option value="03">03</option>
                                        <option value="04">04</option>
                                        <option value="05">05</option>
                                        <option value="06">06</option>
                                        <option value="07">07</option>
                                        <option value="08">08</option>
                                        <option value="09">09</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                    </select>
                                </div>

                                <div class="form-group">
                                    <label for="payment-cvv">CVV</label>
                                    <input type="password" name="payment-cvv">
                                </div>
                            </div>

                            <div class="form-title">Billing Information</div>

                            <div class="form-group">
                                <label for="payment-address-street">Street Address</label>
                                <input type="text" name="payment-address-street">
                            </div>
                            <div class="form-group apt-form-group">
                                <label for="payment-address-apt">Apt or unit </label>
                                <input type="text" name="payment-address-apt">
                            </div>
                            <div class="form-group city-form-group">
                                <label for="payment-address-city">City</label>
                                <input type="text" name="payment-address-city">
                            </div>
                            <div class="form-group">
                                <label for="payment-address-state">State</label>
                                <div class="select-list">
                                    <select class="selected-state">
                                        <option value="AL">40 Wood Ave, Secaucus, NJ 07094, USA</option>
                                        <option value="WY">41 Wood Ave, Secaucus, NJ 07094, USA</option>
                                        <option value="button"><button data-listener="add">+Add new address</button></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group city-form-group">
                                <label for="payment-address-zip-code">Zip Code</label>
                                <input type="text" name="payment-address-zip-code">
                            </div>

                            <div class="button-group">
                                <button class="cancel-button" data-close="">Cancel</button>
                                <button class="base-button" disabled="true">
                                    Save Card
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<!-- Start footer -->
@@include('../common/footer-page.html')