<div class="pop-up-wrap pop-up-checkout"><!-- active -->
    <div class="pop-up-content">
        <div class="pop-up-header">
            <div class="pop-up-header_title">
                Items in cart:
                <div class="pop-up-header_count">
                    1
                </div>
            </div>
        </div>

        <div class="pop-up-body">
            <div class="pop-up-checkout_table">
                <div class="pop-up-checkout_table-header">
                    <div class="pop-up-checkout_table-col">
                        Product:
                    </div>
                    <div class="pop-up-checkout_table-col">

                    </div>
                    <div class="pop-up-checkout_table-col">
                        Track:
                    </div>
                    <div class="pop-up-checkout_table-col">
                        Price per one item:
                    </div>
                    <div class="pop-up-checkout_table-col">
                        Quantity:
                    </div>
                    <div class="pop-up-checkout_table-col">
                        Price
                    </div>
                </div>
                <div class="pop-up-checkout_table-body">
                    <ul>
                        <li>
                            <div class="pop-up-checkout_table-col mini-checkout_product-image">
                                <a href="#">
                                    <img src="../img/content/product-1.png" alt="" loading="lazy"> 
                                </a>
                            </div>
                            <div class="pop-up-checkout_table-col mini-checkout_product-name">
                                <a href="#">
                                    Breking system for volvo l67
                                </a>
                            </div>
                            <div class="pop-up-checkout_table-col mini-checkout_product-model">
                                <a href="#">
                                    Volvo l67
                                </a>
                            </div>
                            <div class="pop-up-checkout_table-col mini-checkout_product-price">
                                $1,725.00
                            </div>
                            <div class="pop-up-checkout_table-col mini-checkout_product-quantity">
                                <div class="checkout-spinner">
                                    <button data-type="minus">
                                        -
                                    </button>
                                    <input type="text" value="1" size="1">
                                    <button data-type="plus">
                                        + 
                                    </button>
                                </div>
                            </div>
                            <div class="pop-up-checkout_table-col mini-checkout_product-total">
                                $3,500.00
                            </div>
                            <div class="checkout-remove-item">
                                <button data-listener="remove">
                                    <i class="fa fa-times" aria-hidden="true"></i>
                                </button>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="pop-up-footer" >
            <div class="row">
                <div class="total-value-block">
                    <div class="total-text">
                        Final Price:
                    </div>
                    <div class="total-value">
                        $5,225.00
                    </div>
                </div>
            </div>
            <div class="button-row">
                <button class="base-button" data-listener="checkout-return">
                    <i class="fas fa-angle-left"></i>
                    Return to shopping
                </button>
                <a href="/view/checkout/checkout.html" class="base-button" data-listener="checkout-continue">
                    Go to checkout
                    <i class="fas fa-angle-right"></i>
                </a>
            </div>
        </div>

    </div>
</div>