@@include('../common/header-page.html')
<!-- End header section-->

<div class="container">
    <div class="row row-wrap">
        @@include('../common/breadcrumbs.html')

        <div class="page-banner page-main-banner" style="background: url('../../img/common/blog-bg.png') center/cover no-repeat;">
            <h1>Equipmentdoctor Blog</h1>
            <div class="search-block">
                <form class="search-block_form">
                    <button class="article-search_button"><i class="fas fa-search"></i></button>
                    <input class="article-search_input" placeholder="Search" value="">
                    <div class="clear_search-input"><i class="far fa-times-circle"></i></div>
                </form>
            </div>

            <ul class="blog-category-tabs">
                <li class="active">
                    <a href="#all">All</a>
                </li>
                <li>
                    <a href="#Category1">Category 1</a>
                </li>
                <li>
                    <a href="#Category3">Category 2</a>
                </li>

                <li>
                    <a href="#Category2">Category 3</a>
                </li>
                <li>
                    <a href="#Category2">Category 4</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="row row-wrap">
        <div class="product__item news__item">
            <div class="product-icon__row">
                <div class="label-wrap">
                    <span class="product-label product-label__cate">Category name</span>
                </div>

            </div>
            <div class="image">
                <a href="../blog/blog-single.html">
                    <img src="../../img/content/news-1.png" loading="lazy"
                        alt="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!"
                        title="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!"
                        class="img-responsive">
                </a>
            </div>
            <div class="caption">
                <div class="news-info-row">
                    <div class="news-item-author">
                        Post autor
                    </div>
                    <div class="news-item-date">
                        12.12.2021
                    </div>
                </div>
                <h4>
                    <a href="../blog/blog-single.html"
                        title="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!">Whether
                        it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is
                        chromed out right the first time!</a>
                </h4>
            </div>
        </div>

        <div class="product__item news__item">
            <div class="product-icon__row">
                <div class="label-wrap">
                    <span class="product-label product-label__cate">Category name</span>
                </div>

            </div>
            <div class="image">
                <a href="#">
                    <img src="../../img/content/news-1.png" loading="lazy"
                        alt="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!"
                        title="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!"
                        class="img-responsive">
                </a>
            </div>
            <div class="caption">
                <div class="news-info-row">
                    <div class="news-item-author">
                        Post autor
                    </div>
                    <div class="news-item-date">
                        12.12.2021
                    </div>
                </div>
                <h4>
                    <a href="#"
                        title="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!">Whether
                        it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is
                        chromed out right the first time!</a>
                </h4>
            </div>
        </div>

        <div class="product__item news__item">
            <div class="product-icon__row">
                <div class="label-wrap">
                    <span class="product-label product-label__cate">Category name</span>
                </div>

            </div>
            <div class="image">
                <a href="#">
                    <img src="../../img/content/news-1.png" loading="lazy"
                        alt="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!"
                        title="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!"
                        class="img-responsive">
                </a>
            </div>
            <div class="caption">
                <div class="news-info-row">
                    <div class="news-item-author">
                        Post autor
                    </div>
                    <div class="news-item-date">
                        12.12.2021
                    </div>
                </div>
                <h4>
                    <a href="#"
                        title="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!">Whether
                        it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is
                        chromed out right the first time!</a>
                </h4>
            </div>
        </div>

        <div class="product__item news__item">
            <div class="product-icon__row">
                <div class="label-wrap">
                    <span class="product-label product-label__cate">Category name</span>
                </div>

            </div>
            <div class="image">
                <a href="#">
                    <img src="../../img/content/news-1.png" loading="lazy"
                        alt="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!"
                        title="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!"
                        class="img-responsive">
                </a>
            </div>
            <div class="caption">
                <div class="news-info-row">
                    <div class="news-item-author">
                        Post autor
                    </div>
                    <div class="news-item-date">
                        12.12.2021
                    </div>
                </div>
                <h4>
                    <a href="#"
                        title="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!">Whether
                        it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is
                        chromed out right the first time!</a>
                </h4>
            </div>
        </div>

        <div class="product__item news__item">
            <div class="product-icon__row">
                <div class="label-wrap">
                    <span class="product-label product-label__cate">Category name</span>
                </div>

            </div>
            <div class="image">
                <a href="#">
                    <img src="../../img/content/news-1.png" loading="lazy"
                        alt="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!"
                        title="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!"
                        class="img-responsive">
                </a>
            </div>
            <div class="caption">
                <div class="news-info-row">
                    <div class="news-item-author">
                        Post autor
                    </div>
                    <div class="news-item-date">
                        12.12.2021
                    </div>
                </div>
                <h4>
                    <a href="#"
                        title="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!">Whether
                        it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is
                        chromed out right the first time!</a>
                </h4>
            </div>
        </div>

        <div class="product__item news__item">
            <div class="product-icon__row">
                <div class="label-wrap">
                    <span class="product-label product-label__cate">Category name</span>
                </div>

            </div>
            <div class="image">
                <a href="#">
                    <img src="../../img/content/news-1.png" loading="lazy"
                        alt="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!"
                        title="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!"
                        class="img-responsive">
                </a>
            </div>
            <div class="caption">
                <div class="news-info-row">
                    <div class="news-item-author">
                        Post autor
                    </div>
                    <div class="news-item-date">
                        12.12.2021
                    </div>
                </div>
                <h4>
                    <a href="#"
                        title="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!">Whether
                        it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is
                        chromed out right the first time!</a>
                </h4>
            </div>
        </div>
    </div>

    <!-- Start pagination -->
    @@include('../common/pagination.html')
    <!-- End pagination -->
</div>

<!-- Start subscribe-form -->
    @@include('../modules/subscribe-form.html')
<!-- End subscribe-form -->

<!-- Start footer -->
@@include('../common/footer-page.html')