@@include('../common/header-page.html')
<!-- End header section-->

<div class="container">
    <div class="row row-wrap">
        @@include('../common/breadcrumbs.html')
    </div>
</div>

<div class="article-block">
    <div class="container">
        <div class="row">
            <div class="page-content article-content">
                <div class="row">
                    <div class="label-wrap">
                        <span class="product-label product-label__cate">Category name</span>
                    </div>
                    <div class="news-info-row">
                        <div class="news-item-author">
                            Post autor
                        </div>
                        <div class="news-item-date">
                            12.12.2021
                        </div>
                    </div>
                </div>
                
                <div class="article-thumbnail">
                    <a href="../../img/content/article-img.png" data-lightbox="roadtrip">
                        <img src="../../img/content/article-img.png" loading="lazy" alt="Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!">
                    </a>
                </div>

                <h1>Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!</h1>
                
                <h2>Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!</h2>
            
                <a href="../../img/content/article-img-1.png" class="float-left" data-lightbox="roadtrip">
                    <img src="../../img/content/article-img-1.png" loading="lazy" alt="about-us">
                </a>

                <p>A truck or lorry is a motor vehicle designed to transport cargo, carry specialized payloads, or perform other utilitarian work. Trucks vary greatly in size, power, and configuration, but the vast majority feature body-on-frame construction, with a cabin that is independent of the payload portion of the vehicle. Smaller varieties may be mechanically similar to some automobiles. Commercial trucks can be very large and powerful and may be configured to be mounted with specialized equipment, such as in the case of refuse trucks, fire trucks, concrete mixers, and suction excavators. In American English, a commercial vehicle without a trailer or other articulation is formally a "straight truck" while one designed specifically to pull a trailer is not a truck but a "tractor".[1]</p>

                <p>A truck or lorry is a motor vehicle designed to transport cargo, carry specialized payloads, or perform other utilitarian work. Trucks vary greatly in size, power, and configuration, but the vast majority feature body-on-frame construction, with a cabin that is independent of the payload portion of the vehicle. Smaller varieties may be mechanically similar to some automobiles. Commercial trucks can be very large and powerful and may be configured to be mounted with specialized equipment, such as in the case of refuse trucks, fire trucks, concrete mixers, and suction excavators. In American English, a commercial vehicle without a trailer or other articulation is formally a "straight truck" while one designed specifically to pull a trailer is not a truck but a "tractor".[1]</p>
            
<!-- Start gallery -->                
                
@@include('../modules/gallery.html')

<!-- End gallery -->

                <p>A truck or lorry is a motor vehicle designed to transport cargo, carry specialized payloads, or perform other utilitarian work. Trucks vary greatly in size, power, and configuration, but the vast majority feature body-on-frame construction, with a cabin that is independent of the payload portion of the vehicle. Smaller varieties may be mechanically similar to some automobiles. Commercial trucks can be very large and powerful and may be configured to be mounted with specialized equipment, such as in the case of refuse trucks, fire trucks, concrete mixers, and suction excavators. In American English, a commercial vehicle without a trailer or other articulation is formally a "straight truck" while one designed specifically to pull a trailer is not a truck but a "tractor".[1]</p>
            
                <a href="../../img/content/article-img-1.png" data-lightbox="roadtrip" class="float-right">
                    <img src="../../img/content/article-img-1.png" loading="lazy" alt="about-us">
                </a>

                <p>A truck or lorry is a motor vehicle designed to transport cargo, carry specialized payloads, or perform other utilitarian work. Trucks vary greatly in size, power, and configuration, but the vast majority feature body-on-frame construction, with a cabin that is independent of the payload portion of the vehicle. Smaller varieties may be mechanically similar to some automobiles. Commercial trucks can be very large and powerful and may be configured to be mounted with specialized equipment, such as in the case of refuse trucks, fire trucks, concrete mixers, and suction excavators. In American English, a commercial vehicle without a trailer or other articulation is formally a "straight truck" while one designed specifically to pull a trailer is not a truck but a "tractor".[1]</p>
            
                <h2>Whether it is a Peterbilt 379, Kenworth W900 or Volvo VNL, Raney's loves to make sure the ride is chromed out right the first time!</h2>
            
                <p>A truck or lorry is a motor vehicle designed to transport cargo, carry specialized payloads, or perform other utilitarian work. Trucks vary greatly in size, power, and configuration, but the vast majority feature body-on-frame construction, with a cabin that is independent of the payload portion of the vehicle. Smaller varieties may be mechanically similar to some automobiles. Commercial trucks can be very large and powerful and may be configured to be mounted with specialized equipment, such as in the case of refuse trucks, fire trucks, concrete mixers, and suction excavators. In American English, a commercial vehicle without a trailer or other articulation is formally a "straight truck" while one designed specifically to pull a trailer is not a truck but a "tractor".[1]</p>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row row-wrap">
        <div class="page-content about-content">
            @@include('../modules/news-block-news-page.html')
        </div>
    </div>
</div>
    
<!-- Start subscribe-form -->
    @@include('../modules/subscribe-form.html')
<!-- End subscribe-form -->
    
<!-- Start footer -->
@@include('../common/footer-page.html')