@@include('../common/header-page.html')

<!-- End header section-->
<div class="container">
  <div class="row row-wrap">
    @@include('../common/breadcrumbs.html')

    <div class="category-result-text">
      Found <span>126393</span> spare parts and auto products for your car.
    </div>

    <div class="page-banner" style="background: url('../../img/content/truck-banner.png') center/cover no-repeat;">
      <div class="truck-banner-logo">
        <img src="../../img/content/logo-1.png" alt="eCascadia">
      </div>
      <h1>eCascadia</h1>
    </div>
  </div>
  <div class="row row-wrap">
    
    @@include('../modules/page-category-menu.html')

    <div class="page-description-block">
      <h2>About eCascadia</h2>

      <p>eCascadia®
        On-Highway | 500 HP | 250 Mile Range | Up to 475 kWh | 80% in 90 min. Recharge</p>

      <h3>Real Customers. Real Miles</h3>
      <p>Driven today by our customer-partners in electric truck development, the electric Freightliner eCascadia is
        rapidly approaching a million miles* on North American roads, with zero emissions. Watch to Learn More</p>

      <h3>Real Trucks. 100% Electric.</h3>
      <p>The Freightliner eMobility team is proud to produce the first Freightliner electric Cascadia—the eCascadia—a
        100% battery electric semi truck entering production in 2022, with zero emissions. </p>

      <h3>Built On A Legend</h3>
      <p>The Freightliner eCascadia electric semi truck is a 100% battery electric Freightliner Cascadia with the
        efficiency, safety and aerodynamics that make it worthy of its name. An electric semi with an 82,000 lb GVW, the
        eCascadia is perfect for short-haul, last-mile logistics, with the superior performance, comfort and driver
        experience you’d expect, all in a Freightliner electric Cascadia—a truck that makes great business sense.</p>

      <h3>Innovative eConsulting</h3>
      <p>When your fleet is considering electrification, trucks are just one piece of a complex puzzle. Electric trucks
        require an entire electrical ecosystem of support, and Freightliner is fully prepared to create and sustain the
        building blocks our customers need to transition to battery electric trucking, with our comprehensive
        eConsulting services, incentives and the industry’s best service and support network.</p>

      <h3>Industry-Leading Safety, Period.</h3>
      <p>When your fleet is considering electrification, trucks are just one piece of a complex puzzle. Electric trucks
        require an entire electrical ecosystem of support, and Freightliner is fully prepared to create and sustain the
        building blocks our customers need to transition to battery electric trucking, with our comprehensive
        eConsulting services, incentives and the industry’s best service and support network.</p>

      <h3>Sustainability Goals, Achieved</h3>
      <p>From cutting-edge fuel efficiency and industry-leading powertrain innovation to our first zero-emission
        heavy-duty electric commercial truck, the eCascadia will continue our legacy of helping customers meet their
        sustainability goals. Leading the future by building the cleanest possible trucks on the road, Freightliner is
        shaping a better future with deployment of 100% battery electric trucks, starting with its first fully electric
        semi truck, the eCascadia.</p>

      <h3>Innovation Inside: The Detroit® ePowertrain™</h3>
      <p>Designed for the Freightliner eM2 and eCascadia, the all-electric Detroit® ePowertrain™ provides the ultimate
        in power, efficiency and sustainability. With maximum torque to get loads moving and quick, smooth acceleration,
        the Detroit ePowertrain is much more than electric – it’s the future of electric-powered trucks. Ready to go the
        extra mile on zero emissions? See the electric innovation inside.</p>

      <h3>Detroit eFill Chargers</h3>
      <p>Introducing tomorrow’s Freightliner truck charger – engineered by Detroit. Detroit eFill chargers are designed
        for compatibility with your Freightliner trucks and EV infrastructure. And with proven, commercial-grade
        charging technology, they’re made to keep medium- and heavy-duty fleets going strong – even in the most extreme
        conditions. The future of efficient, reliable and fully-integrated Detroit power is here.</p>

      <h3>Detroit eFill Chargers</h3>
      <p>Introducing tomorrow’s Freightliner truck charger – engineered by Detroit. Detroit eFill chargers are designed
        for compatibility with your Freightliner trucks and EV infrastructure. And with proven, commercial-grade
        charging technology, they’re made to keep medium- and heavy-duty fleets going strong – even in the most extreme
        conditions. The future of efficient, reliable and fully-integrated Detroit power is here.</p>

    </div>

  </div>
</div>




<!-- Start footer -->
@@include('../common/footer-page.html')